<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="../css/account.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <div class="content">
      <ul>
          <li v-for="(item,index) in list" ::key="index">
          <div class="card">
            <div class="card-img">
              <div>
                  <div @click="modalShow(item.img)">
                      <img v-bind:src="item.img" alt="">
                  </div>
                 
              </div>
              
            </div>
            <div class="card-title">
              
                  <div class="card-title-main">
                   <img v-bind:src="item.icon" alt="">
                   
                    <div>{{item.name}}</div>
                  </div>
                  <div class="card-title-sub">{{item.url}}</div>
              
             
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal" @click="modalClose()" v-if="modal">
      <div>
        <img  v-bind:src="currentUrl" alt="">
      </div>
    </div>
  </div>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el:"#main",
      data(){
        return{
          list:[
                {
                  img:"../image/fx_jinfu.png",
                  icon:"../image/fx_6.png",
                  name:"微信服务号",
                  url:"微信号:jiayejinfu"
                },
                {
                  img:"../image/fx_hz.png",
                  icon:"../image/fx_6.png",
                  name:"微信订阅号",
                  url:"微信号:jiayehuizhong"
                },
                {
                  img:"../image/fx_app.png",
                  icon:"../image/fx_7.png",
                  name:"嘉e贷App",
                  url:"搜索嘉e贷"
                },
                {
                  img:"../image/fx_weibo.png",
                  icon:"../image/fx_8.png",
                  name:"嘉e贷微博",
                  url:"http://weibo.com/jiayedaicom"
                },
            ],
          modal:false,
          currentUrl:""
        }
      },
      methods:{
        modalShow(url){
          this.currentUrl = url
          this.modal = !this.modal
        },
        modalClose(){
          this.modal = !this.modal
        }
      },
      mounted() {
        
      },
    })
  </script>
</body>
</html>