<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="../css/account.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <div class="content">
      <ul>
          <li v-for="(item,index) in list" ::key="index">
          <div class="card">
            <div class="card-img">
              <div>
                  <div @click="modalShow()">
                      <img src="../image/fx_app.png" alt="">
                  </div>
                 
              </div>
              
            </div>
            <div class="card-title">
              
                  <div class="card-title-main">
                   <img src="../image/fx_6.png" alt="">
                   
                    <div>微信服务号</div>
                  </div>
                  <div class="card-title-sub">微信号:jiayejinfu</div>
              
             
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="modal" @click="modalShow()" v-if="modal">
      <div>
        <img src="../image/fx_app.png" alt="">
      </div>
    </div>
  </div>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el:"#main",
      data(){
        return{
          list:[0,1,2,3,4,5],
          modal:false
        }
      },
      methods:{
        modalShow(){
          this.modal = !this.modal
        }
      },
      mounted() {
        
      },
    })
  </script>
</body>
</html>