<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script src="https://unpkg.com/better-scroll/dist/bscroll.min.js"></script>
  <link rel="stylesheet" href="../css/binding.css">
</head>
<body>
  <div class="wrapper" id="main">
    <div class="content">
      <div >
          <div id="top" style="display: block;overflow: hidden;" class="top">
              <div class="card">
                  <div>
                    年化利率
                  </div>
                  <div>
                    出借奖励
                  </div>
                  <div>64.24<span class="font4">%</span>+<span class="font3">1.76<span  class="font4">%</span></span></div>
                  <div>资金由江西银行全程存管</div>
                  <div></div>
                    <div class="card-bottom">
                      <div class="card-bottom-l">
                        <div>服务期限180天</div> 
                      </div>
                      <div class="card-bottom-r">
                        <div>
                          <div>剩余可出借（元）</div>
                          <div>200000.00</div>
                        </div>
                      </div>
                    </div>
                </div>
               
                  <div class="table"></div>
                  <div class="table-desc">
                    <div>
                      <div class="font1">今日出借</div>
                      <div class="font2">立即匹配</div>
                    </div>
                    <div>
                      <div class="font1">匹配成功</div>
                      <div class="font2">开始计息</div>
                    </div>
                    <div>
                      <div class="font1">到期转出</div>
                      <div class="font2">2018.3.1</div>
                    </div>
                    
                  </div>
               
                <div class="context">
                  <div class="context-title">出借金额（元）</div>
                  <input class="context-input" type="text" placeholder="最低出借5000元">
                  
                  <div>预期回报</div>
                  <div>11725.00元</div>
                  
                  <div>
                    (参考历史数据得出，以实际到账为准)
                  </div>
                </div>
                <footer class="top-footer">
                  <div class="foot-touch" id="touch">
                    -向上滑动，查看更多详情-
                  </div>
                  <div class="foot-title">
                      出借即表示同意<a href="javascript:void(0)">《出借咨询及信息管理服务协议》</a>、<a href="javascript:void(0)">《风险提示书》</a>
                   
                  </div>
                  <div class="foot-content">
                      <button class="foot-content-btn" @click="submit()" >立即出借</button>
                  </div>
                </footer>
          </div>
         
          
          <div style="display: none;" id="bottom" class="bottom"  >
            <header>
              <div class="head-content" id="head-content">
                <div class="head-content-item " v-on:click="changeCurrent(1)" :class={"head-content-item_choose":choose==1}>服务介绍</div>
                <div  class="head-content-item " v-on:click="changeCurrent(2)" :class={"head-content-item_choose":choose==2}>标的组成</div>
                <div  class="head-content-item" v-on:click="changeCurrent(3)" :class={"head-content-item_choose":choose==3}>加入记录</div>
              </div>
            </header>
            <div id="choose1" v-if="choose==1">
                <div class="context">
                    <div class="context-desc">
                      <p>服务名称：JJF0902012018052301</p>
                      <p>筹集期限：3个工作日</p>
                      <p>期待年回报率：7.5%，包含基础年化利率6.2%+出借奖励1.3%</p>
                      <p>服务年限：180天</p>
                      <p>出借范围：车辆抵押借款标、信用借款标</p>
                      <p>出借金额：出借金额100元起</p>
                      <p>出借时间：09：00~20：00</p>
                      <p>预计起息日期：2017-6-28，具体以匹配完成时间为准</p>
                      <p>账户管理费：单笔标的利息的0%</p>
                      <p>提前转出：服务期满30天后可申请提前转出</p>
                      <p>提前转出服务费：转出本金的6%</p>
                    </div>
                    <div class="context-safety">
                      <div class="context-title">
                       <p>安全保障</p> 
                      </div>
                      <div class="context-line"></div>
                    </div>
                    <div class="context-safety-desc">
                      <div>
                          <img src="../image/sy_18.gif" alt="">
                      </div>
                      <div>
                          <img src="../image/sy_19.gif" alt="">
                      </div>
                      <div>
                        <img src="../image/sy_20.gif" alt="">
                      </div>
                    </div>
                    <div class="context-serve">
                      <div class="context-title">
                        <p>服务说明</p> 
                      </div>
                      <div class="context-line"></div>
                    </div>
                    <div class="context-serve-desc">
                      <p>
                        用户在申请出借后资金会被冻结，系统会在用户授权范围内，为用户匹配通过平台评估审核合格，并符合用户风险评级结果的借款标的或债权装让标的；
                        在用户无异议的情况下，平台在用户已授权的情况下，利用电子签章与存证服务系统为出借、借款或债券转让用户双方生成电子签章，以备服务器永久储存。
                        同时，出借资金划拨至借款人或债券转让人在江西银行开立的账户中，形成债权债务关系。若匹配失败，出借资金将解冻，可由出借用户自由支配。
                      </p>
                    </div>
                    <div class="context-advanced">
                        <div class="context-title">
                            <p>提前转出</p> 
                          </div>
                          <div class="context-line"></div>
                    </div>
                    <div class="context-advanced-desc">
                      <p>
                        除指定服务外，服务满30天后，您可申请提前转出。平台处理提前转出的债务周期一般为自用户提交之日起的3个工作日，如未能在发起日后3个工作日内
                        转让退出成功，用户将继续持有该债权。具体转让完成时间视市场交易情况而定。
                      </p>
                    </div>
                    <div class="context-theory">
                        <div class="context-title">
                            <p>原理图</p> 
                          </div>
                          <div class="context-line"></div>
                    </div>
                    <div class="context-theory-desc">
                      <img src="../image/cp_11.png" alt="展示图片">
                    </div>
                </div>
            </div>
            <div id="choose2" v-if="choose==2">
                <div class="context">
                    <div class="context-title">为保护借款人信息仅展示部分内容，具体匹配以实际情况为准。</div>
                    <div class="context-table-wrap">
                      <table class="context-table">
                        <tr>
                          <th>借款标的</th>
                          <th>类型</th>
                          <th>剩余金额（元）</th>
                          <th></th>
                        </tr>
                        <tr>
                          <td>扩大经营</td>
                          <td>信A</td>
                          <td>100000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>度假旅游</td>
                          <td>车AA</td>
                          <td>10000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>扩大经营</td>
                          <td>信A</td>
                          <td>100000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>度假旅游</td>
                          <td>车AA</td>
                          <td>10000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>扩大经营</td>
                          <td>信A</td>
                          <td>100000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>度假旅游</td>
                          <td>车AA</td>
                          <td>10000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>扩大经营</td>
                          <td>信A</td>
                          <td>100000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>度假旅游</td>
                          <td>车AA</td>
                          <td>10000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>扩大经营</td>
                          <td>信A</td>
                          <td>100000.00</td>
                          <td>></td>
                        </tr>
                        <tr>
                          <td>度假旅游</td>
                          <td>车AA</td>
                          <td>10000.00</td>
                          <td>></td>
                        </tr>
                       
                      </table>
                    </div>
                  </div>
            </div>
            <div id="choose3" v-if="choose==3">
                <div class="context">
                    <div class="context-title"></div>
                    <div class="context-table-wrap">
                      <table class="context-table">
                        <tr>
                          <th>出借人</th>
                          <th>加入金额（元）</th>
                          <th>加入期限</th>
                          <th>加入时间</th>
                        </tr>
                        <tr v-for="(item,index) in list" :key="index">
                          <td>137****8833</td>
                          <td>1000000.00</td>
                          <td>60天</td>
                          <td>2017-7-8 11:11:44</td>
                        </tr>
                       
                       
                      </table>
                    </div>
                  </div>
            </div>
            <footer>
              <div class="foot-title">
                出借即表示同意<a href="javascript:void(0)">《出借咨询及信息管理服务协议》</a>、<a href="javascript:void(0)">《风险提示书》</a>
              </div>
              <div class="foot-content">
                  <button class="foot-content-btn" >立即出借</button>
              </div>
              
            </footer>
          </div>
        </div>
      </div>
  </div>


<script>
   document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
  var vm = new Vue({
    el:"#main",
    data(){
      return{
        h1:"",
        h2:"",
        list:[0,1,2,3,4,5,6,7,8,9],
        choose:1,
        scroll
      }
    },
    created() {
      console.log(document.documentElement.clientHeight)
    },
    methods:{
      submit(){
        let vms = this
        document.getElementById("bottom").style.display="block";
        this.scroll.refresh();
        vms.scroll.scrollToElement(document.querySelector(".bottom"),800,0,0);
        
      },
      changeCurrent(value){
        this.choose=value;
        this.scroll.refresh();
        
      },
      _initScroll(){
        let vms = this
        //this.scroll
        vms.scroll = new window.BScroll(document.querySelector(".content"), {
          probeType: 2,
          click:true,
          momentum:false,
          pullUpLoad: true ,
          
         });
         
       function up(pos){
        if(vms.scroll.maxScrollY>pos.y+50){
            console.log("上拉")
          
           
            document.getElementById("bottom").style.display="block";
           // document.getElementById("top").style.height="6.69rem"
            vms.scroll.refresh();
            vms.scroll.scrollToElement(document.querySelector(".bottom"),800,0,0);
            vms.scroll.off('touchEnd', up)
            vms.scroll.on('touchEnd', down)
         } 
          console.log(Math.round(pos.y));
       }
       function down(pos) {
        
        var h = document.getElementById("top").offsetHeight
        if(pos.y>-h+20){
           
            console.log("下拉")
            vms.scroll.scrollToElement(document.querySelector(".top"),800,0,0);
            vms.scroll.off('touchEnd', down)
            vms.scroll.on('touchEnd', up)
            document.getElementById("bottom").style.display="none";
           // document.getElementById("top").style.height="6.69rem"
            vms.scroll.refresh();
           
          }
          console.log(Math.round(pos.y));
       }
       vms.scroll.on('touchEnd', up)
      
   
      
       
      
      }
    },
    mounted() {
    // document.getElementById("top").style.height=(document.documentElement.clientHeight)+"px";
     //document.getElementById("bottom").style.minHeight=(document.documentElement.clientHeight)+"px";
      this.$nextTick(() => {
       this._initScroll();
      });
      
      
    },
  })
</script>
</body>
</html>