<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/swiper.min.js"></script>
  <script src="../js/bscroll.min.js"></script>
  <link rel="stylesheet" href="../css/swiper.min.css">
  <link rel="stylesheet" href="../css/commodity.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <div class="banner">
        <div class="swiper-container" id="banner">
            <div class="swiper-wrapper">
              <div class="swiper-slide" v-for="(item,index) in imageList" :key="index">
                <div class="show-detail">
                 <img v-bind:src="item">
                </div>  
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
    </div>
    <div class="desc">
      <div>{{goods_detail.gd_name}}</div>
      <div>
        {{goods_detail.gd_summer}}
      </div>
      <div>
        <div>兑换嘉金币</div>
        <div>{{goods_detail.gd_price}}</div>
      </div>
      <div>
        <div>已兑换:{{goods_detail.gd_sellcnt}}件</div>
        <div>还剩:{{goods_detail.gd_totalcnt}}件</div>
      </div>
      <div>
         <div> <img src="../image/fx_16.png" alt="" class="icon-freight"></div>
          <div>免运费</div>
          <div> <img src="../image/fx_18.png" alt="" class="icon-sale"></div>
          <!-- <div class="icon-sale"></div> -->
          <div>商家售后</div>
          <div><img src="../image/fx_17.png" alt="" class="icon-week"></div>
         <!--  <div class="icon-week"></div> -->
          <div>7个工作日内发货</div>
      </div>
    </div>
    <div class="content">
      <header>
        <div class="head-content" >
          <div class="head-content-item" v-on:click="changeCurrent(1)" :class={"head-content-item_choose":choose==1}>商品详情</div>
          <div class="head-content-item " v-on:click="changeCurrent(2)" :class={"head-content-item_choose":choose==2}>兑换记录</div>
        </div>
      </header>
        <div id="choose1" v-if="choose==1">
          <div>
            <img v-bind:src="goods_detail.gd_descript" alt="">
            <!-- gd_descript -->
           <!--  <img src="../image/store.png" alt="图片"> -->
          </div>
         
          <footer>
            <div>
              <div>
                <span class="font1">当前金币数量:</span> 
                <span class="font2">登录</span>
              </div>
              <div>
                <div>数量：</div>
                <button ontouchstart="" @click="removeCount">-</button>
                <div>{{count}}</div>
                <button ontouchstart=""  @click="addCount">+</button>
              </div>
            </div>
            <div>
              <button class="button" ontouchstart="" @click="exchange()" type="button">立即兑换</button>
            </div>
          </footer>
        </div>
        <div id="choose2" v-if="choose==2">
          <div>
            共{{list.length}}条兑换记录
          </div>
          <div >
              <div class="wrappers" style="height:13.5rem;" v-if="showList.length>0">
                  <div class="contents" style="height: 13.5rem;overflow: hidden;">
                  <table class="context-table">
                      <tr v-for="(item,index) in showList" ::key="index">
                        <td>{{item.phone}}</td>
                        <td>{{item.cr_num}}</td>
                        <td>{{item.cr_time}}</td>
                      </tr>
                  </table>
              </div>
            </div>
           
          </div>
          <footer style="margin-top:1.8rem ">
            <div>
              <div>
                <span class="font1">当前金币数量:</span> 
                <span class="font2">登录</span>
              </div>
              <div>
                <div>数量：</div>
                <button ontouchstart="" @click="removeCount">-</button>
                <div>{{count}}</div>
                <button ontouchstart="" @click="addCount">+</button>
              </div>
            </div>
            <div>
                <button class="button" ontouchstart="" @click="exchange()" type="button">立即兑换</button>
            </div>
          </footer>
        </div>
       
     </div>
   
  </div>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el: "#main",
      data(){
        return{
          list:[],
          choose:1,
          count:1,
          showList:[],
          page:1,
          goods_detail:{
            gd_price:"",
            gd_id:"",
            gd_sellcnt:"",
            gd_totalcnt:"",
            gd_name:"",
            gd_smallimg:"",
            gd_bigimg:"",
            gd_summer:"",
            gd_descript:"",
            gd_status:"",
          },
          imageList:[],
        }
      },
      methods:{
        initSwiper(){
          var swiper = new Swiper('#banner',{
              autoplay:true,
              pagination: {
                el: '.swiper-pagination',
                bulletClass : 'mybanner-bullet',
                bulletActiveClass:"mybanner-bullet-active",
              },
             
          });
        },
        init(){
          
          var vms = this
          var data = this.getRequest()
          let req ={
                    "goods_id": data.id,
                    "jyd_pubData": {
                            "user_id": "4", 
                            "source_type": "0001", 
                            "system_id": "Android 7", 
                            "network_type": "wifi", 
                            "token_id": "123235h5e3"
                        }
                  }

          axios.post("/api/goods/goodsDetails",req).then(res=>{
            vms.list = res.data.exchange_records.slice();
            vms.showList = res.data.exchange_records.slice(0,11);
            vms.goods_detail = res.data.goods_detail
            var list = vms.goods_detail.gd_bigimg
            //vms.imageList = list.split(",")
            vms.imageList = list
            if(vms.list.length!=0){
              vms.$nextTick(() => {
                  vms.initSwiper()
              });
            }
           
            
            console.log(res);
          }).catch(err=>{
            console.log(err)
          })
        },
        addCount(){
          this.count++
        },
        removeCount(){
          if(this.count>1){
            this.count--
          }
        },
        initScroll(){
        let vms = this
        //this.scroll
        vms.scrolls = new window.BScroll(document.querySelector(".contents"), {
          probeType: 2,
          click:true,
          momentum:false,
          pullUpLoad: true ,
          
         });
         function up(pos){
          if(vms.scrolls.maxScrollY>pos.y+50){
              //console.log("上拉")
              vms.page++
              vms.showList=vms.showList.concat(vms.list.slice((vms.page-1+"1"),(vms.page+"1")))
              //console.log(vms.showList)
          } 
            //console.log(Math.round(pos.y));
            vms.scrolls.refresh();
        }
        vms.scrolls.on('touchEnd', up)
        
        },
        changeCurrent(value){
          let vms = this
          this.choose=value;
          if(value==2){
          this.$nextTick(() => {
            vms.initScroll()
          });
         
        }
        },
        getRequest(){
          var url = location.search; //获取url中"?"符后的字串
          var theRequest = new Object();  
          if (url.indexOf("?") != -1) {  
              var str = url.substr(1);  
              strs = str.split("&");  
              for(var i = 0; i < strs.length; i ++) {  
                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);  
              }  
          }  
          return theRequest;
        },
        exchange(){
          var vms = this
          var data = this.getRequest();
          let req = {
                      "goods_id": data.id, 
                      "tel_phone": "15822753827",
                      "exchange_num": vms.count, 
                      "jyd_pubData": 
                      {
                          "user_id": 2, 
                          "source_type": "0001", 
                          "system_id": "Android 7", 
                          "network_type": "wifi", 
                          "token_id": "123235h5e3"
                      }
                  }
          axios.post("/api/goods/exchange",req).then(res=>{
            console.log("exchange",res);
          }).catch(err=>{
            console.log("exchange",err)
          })
        }
      },
      mounted() {
        
        this.init();
        
        
      },
    })
  </script>
</body>
</html>