<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <link rel="stylesheet" href="../css/disperse.css">
  <script src="../js/bscroll.min.js"></script>
 
</head>
<body>
  <div class="wrapper" id="main">
    <div class="content">
      <div >
          <div id="top" style="display: block;overflow: hidden;" class="top">
              <div class="card">
                  <div>
                   
                  </div>
                  <div>
                   资金周转
                  </div>
                  <div>等额本息</div>
                  <div>6.24 <span style="font-size: 0.39rem">%</span> </div>
                  <div>年化利率</div>
                  <div>
                    <div></div>
                  </div>
                  <div>剩余可出借(元)</div>
                  <div>20000.00</div>
                  <div></div>
                    <div class="card-bottom">
                      <div class="card-bottom-l">
                        <div>借款期限12期</div> 
                      </div>
                      <div class="card-bottom-r">
                        <div>
                          <div>借款额（元）</div>
                          <div>200000.00</div>
                        </div>
                      </div>
                    </div>
                </div>
               
                  
               
                <div class="context">
                  <ul>
                      <li>
                          <p>借款编号:</p>
                          <p>22222222</p>
                      </li>
                      <li>
                            <p>出借限额(元):</p>
                            <p>100~不限</p>
                        </li>
                        <li>
                            <p>还款方式:</p>
                            <p>等额本息</p>
                        </li>
                        <li>
                            <p>借款人:</p>
                            <p>张**</p>
                        </li>
                        <li>
                            <p>起息日期:</p>
                            <p>2017-11-30</p>
                        </li>
                        <li>
                            <p></p>
                            <p>以标的复议通过时间为准</p>
                        </li>
                        <li>
                            <p>募集截止时间:</p>
                            <p>2017-11-30</p>
                        </li>
                  </ul>
                </div>
                <footer class="top-footer">
                  <div class="foot-touch" id="touch">
                    -向上滑动，查看更多详情-
                  </div>
                  <div class="foot-title">
                      <p>出借即表示同意<a href="javascript:void(0)">《出借咨询及信息管理服务协议》</a>、<a href="javascript:void(0)">《担保函》</a></p>
                  <p><a href="javascript:void(0)">《风险提示书》</a>、<a href="javascript:void(0)">《风险提示书》</a></p>
                   
                  </div>
                  <div class="foot-content">
                      <button class="foot-content-btn"  @click="submit()">立即出借</button>
                  </div>
                </footer>
          </div>
         
          <!-- <div style="width: 100%;height: 200px;background-color: #f2f2f2;" id="h3" ></div> -->
          <div style="display: none;" id="bottom" class="bottom"  >
            <header>
              <div class="head-content" id="head-content">
                <div class="head-content-item " v-on:click="changeCurrent(1)" :class={"head-content-item_choose":choose==1}>借款信息</div>
                <div  class="head-content-item " v-on:click="changeCurrent(2)" :class={"head-content-item_choose":choose==2}>出借记录</div>
                <div  class="head-content-item" v-on:click="changeCurrent(3)" :class={"head-content-item_choose":choose==3}>还款计划</div>
              </div>
            </header>
            <div id="choose1" v-if="choose==1">
                <div class="context">
                    
                    <div class="context-message">
                      <div class="context-title">
                       <p>借款人信息</p> 
                      </div>
                      <div class="context-line"></div>
                    </div>
                    <div class="context-message-desc">
                     <div>借款人主体性质:自然人</div>
                     <ul>
                         <li>
                             <p>姓名</p>
                             <p>张**</p>
                         </li>
                         <li>
                            <p>身份证号</p>
                            <p>1*****************</p>
                        </li>
                         <li>
                            <p>性别</p>
                            <p>男</p>
                        </li>
                        <li>
                            <p>婚姻</p>
                            <p>已婚</p>
                        </li>
                        <li>
                            <p>最高学历</p>
                            <p>本科</p>
                        </li>
                        <li>
                            <p>现居地</p>
                            <p>省-市-区</p>
                        </li>
                        <li>
                            <p>房产信息</p>
                            <p>无</p>
                        </li>
                        <li>
                            <p>车产信息</p>
                            <p>有</p>
                        </li>
                        <li>
                            <p>工作行业</p>
                            <p>金融</p>
                        </li>
                        <li>
                            <p>月收入</p>
                            <p>4000.00</p>
                        </li>
                        <li>
                            <p>工作年限</p>
                            <p>两年以上</p>
                        </li>
                        <li>
                            <p>工作职务</p>
                            <p>中基管理人员</p>
                        </li>
                     </ul>
                    
                    </div>
                   
                    <div class="context-record" style="position: relative;" >
                        <div class="context-title" style="width: 3.27rem;">
                            <p>借款人信用档案</p> 
                          </div>
                          <div class="context-line" style="width: 8.04rem;"></div>
                    </div>
                    <div class="context-record-desc">
                     <ul>
                         <li>
                             <p>逾期次数</p>
                             <p>0次</p>
                         </li>
                         <li>
                            <p>逾期总金额</p>
                            <p>0元</p>
                        </li>
                        <li>
                            <p>待还总额</p>
                            <p>0元</p>
                        </li>
                        <li>
                            <p>借款人在其他网络借款平台借款情况</p>
                            <p>未获知</p>
                        </li>
                     </ul>
                    </div>
                    <div class="context-borrow">
                        <div class="context-title">
                            <p>借款信息</p> 
                          </div>
                          <div class="context-line"></div>
                    </div>
                    <div class="context-borrow-desc">
                      <ul>
                          <li>
                              <p>借款用途</p>
                              <p>资金周转</p>
                          </li>
                          <li>
                            <p>借款时间</p>
                            <p>2017-11-30 22:22:22</p>
                        </li>
                        <li>
                            <p>借款类型</p>
                            <p>车辆抵押借款标</p>
                        </li>
                      </ul>
                      <div>
                          <span style="display: block;margin-top: 0.72rem;">
                              还款来源及保障措施
                          </span>
                          <p>1、日常收入，借款人按相关约定按时，足额偿还本息</p>
                          <p>2、借款人未能按时、足额偿还本息时，处置抵押质押车辆，所</p>
                          <p>得款足额偿还借款本息</p>
                          <p>3、由中吉财富融资担保有限公司承担100%保障责任</p>
                      </div>
                      </div>
                      <div class="context-audit">
                            <div class="context-title">
                                <p>借款信息</p> 
                                </div>
                                <div class="context-line"></div>
                        </div>
                      <div class="context-audit-desc">
                        <ul>
                            <li>
                                <p>身份证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>收入证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>面审</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>实地考察</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>个人信用报告</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>住址证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>借款合同</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>借款申请表</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>信用咨询与管理服务协议</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>平台委托授权书</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>其他</p>
                                <p>通过</p>
                            </li>
                        </ul>
                      </div>
                    </div>
                
            </div>
            <div id="choose2" v-if="choose==2">
                <div class="context">
                    <div class="context-title"></div>
                    <div class="context-table-wrap">
                      <table class="context-table">
                        <tr>
                          <th>借款人</th>
                          <th>出借金额（元）</th>
                          <th>出借记录</th>
                          <th></th>
                        </tr>
                        <tr v-for="(item,index) in list" :key="index">
                          <td>137***8833</td>
                          <td>100000.00</td>
                          <td>2017-7-8 11:11:44</td>
                        </tr>
                        
                       
                      </table>
                    </div>
                  </div>
            </div>
            <div id="choose3" v-if="choose==3">
                <div class="context">
                    <div class="context-title"></div>
                    <div class="context-table-wrap">
                     <!--  <div class="card">
                        <div>第1期/共12期</div>
                        <div>已还款</div>
                        <div>应还本金</div>
                        <div>1444.72</div>
                        <div>应还利息</div>
                        <div>772.27</div>
                        <div>总款金额</div>
                        <div>2327.4</div>
                      </div>
                      <div class="card">
                        <div>第2期/共12期</div>
                        <div>已还款</div>
                        <div>应还本金</div>
                        <div>1444.72</div>
                        <div>应还利息</div>
                        <div>772.27</div>
                        <div>总款金额</div>
                        <div>2327.4</div>
                      </div>      
                    -->
                    <!--  -->
                    <div class="grayblock">

                    </div>
                    <div class="grayblock-desc">
                        尚未生成数据
                    </div>
                  </div>
            </div>
        </div> 
       <!--  <div style="widows: 100%;height:4.25rem;">

          </div> -->
            <footer class="bottom-footer">
              <div class="foot-title">
                  <p>出借即表示同意<a href="javascript:void(0)">《出借咨询及信息管理服务协议》</a>、<a href="javascript:void(0)">《担保函》</a></p>
                  <p><a href="javascript:void(0)">《风险提示书》</a>、<a href="javascript:void(0)">《风险提示书》</a></p>
               
              </div>
              <div class="foot-content">
                  <button class="foot-content-btn" >立即出借</button>
              </div>
              
            </footer>
          </div>
        </div>
      </div>
  </div>


<script>
   document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
  var vm = new Vue({
    el:"#main",
    data(){
      return{
        h1:"",
        h2:"",
        list:[0,1,2,3,4,5,6,7,8,9],
        choose:1,
        scroll
      }
    },
    created() {
      console.log(document.documentElement.clientHeight)
    },
    methods:{
      submit(){
        let vms = this
        document.getElementById("bottom").style.display="block";
        this.scroll.refresh();
        vms.scroll.scrollToElement(document.querySelector(".bottom"),800,0,0);
      },
      changeCurrent(value){
        this.choose=value;
       // this.scroll.refresh();
        //console.log("change")
      },
      _initScroll(){
        let vms = this
        //this.scroll
        vms.scroll = new window.BScroll(document.querySelector(".content"), {
          probeType: 2,
          click:true,
          momentum:false,
          pullUpLoad: true ,
          
         });
         
       function up(pos){
        if(vms.scroll.maxScrollY>pos.y+50){
            console.log("上拉")
          
           
            document.getElementById("bottom").style.display="block";
           // document.getElementById("top").style.height="6.69rem"
            vms.scroll.refresh();
            vms.scroll.scrollToElement(document.querySelector(".bottom"),800,0,0);
            vms.scroll.off('touchEnd', up)
            vms.scroll.on('touchEnd', down)
         } 
          console.log(Math.round(pos.y));
       }
       function down(pos) {
        
        var h = document.getElementById("top").offsetHeight
        if(pos.y>-h+20){
           
            console.log("下拉")
            vms.scroll.scrollToElement(document.querySelector(".top"),800,0,0);
            vms.scroll.off('touchEnd', down)
            vms.scroll.on('touchEnd', up)
            document.getElementById("bottom").style.display="none";
           // document.getElementById("top").style.height="6.69rem"
            vms.scroll.refresh();
           
          }
          console.log(Math.round(pos.y));
       }
       vms.scroll.on('touchEnd', up)
      
   
      
       
      
      }
    },
    mounted() {
       // document.getElementById("top").style.height=(document.documentElement.clientHeight)+"px";
     //document.getElementById("bottom").style.minHeight=(document.documentElement.clientHeight)+"px";
      this.$nextTick(() => {
       this._initScroll();
      });
      
      
    },
  })
</script>
</body>
</html>