<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/axios.config.js"></script>
  <link rel="stylesheet" href="../css/disperseInfo.css">
</head>
<body>
  <div id="main" style="overflow: hidden;position: relative;">
      <div class="toast" id="toast">
          {{hint}}
        </div>
    <div>
        
      <div class="card">
        <div>
          剩余可出借金额(元)
        </div>
        <div>
          248,000.00
        </div>
      </div>
      <div class="context">
        <div>出借金额(元)</div>
        <div class="context-input">
          <input id="text" class="context-input-text" type="text" pattern="[0-9]*"  v-model="count" v-on:input="dispear()"  v-on:blur="apear()" >
          <label id="label" class="context-input-lable" v-on:click="labelClick()" >{{text1}}</label>
        </div>
        <div>可出借金额(元):{{avail}}</div>
        <div><button ontouchstart="">充值</button></div>
      </div>
      <footer class="footer">
        
        <div class="foot-title">
            出借即表示同意<a href="javascript:void(0)">《出借咨询及信息管理服务协议》</a>、<a href="javascript:void(0)">《风险提示书》</a>
          
        </div>
        <div class="foot-content">
            <button ontouchstart="" class="foot-content-btn" @click="submit()" >确认出借<span v-if="count==''">0.00</span>{{count}}元</button>
        </div>
      </footer>
    </div>
  </div>
  <script>
    document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el:"#main",
      data(){
        return{
          avail:"",
          count:"",
          restMoney:"7000",
          hint:"",
          h1:"",
          h2:"",
          text1:"最低出借100元"
        }
      },
      watch:{
        count:function(){
          if(this.count>200000){
           
            
            //alert(this.h1+"h2:"+this.h2)
            this.showToastZoom("出借金额不能大于200000元。")
            this.count=200000
            return
          }
        }
      },
      methods:{
        submit(){
          if(this.count<100){
            //1
            this.showToast("出借金额不能小于100元。")
            //this.count=""
            return
          }else if(this.count>this.restMoney){
            //2
            this.showToast("出借金额不能大于剩余可出借金额。")
            //this.count=""
            return
          }else if(this.count>this.avail){
            this.showToast("可用余额不足，请先充值。")
            //this.count=""
            return
          }else if((this.count%100)!==0){
            this.showToast("出借金额需为100的整数倍。")
            //this.count=""
            return
          }else if(this.count>200000){
            this.showToast("出借金额不能大于200000元。")
            //this.count=""
            return
          }else if((this.restMoney-this.count)<100){
            this.showToast("输入后剩余可出借金额小于最低出借金额，请重新输入。")
            //this.count=""
            return
          }
          this.submitData();
        },
        submitData(){
          let req = {
                    "tel_phone": "15822753827", 
                    "borrowId": "20180704035229010122", 
                    "amount": "10000", 
                      "jyd_pubData": {
                        "user_id": 91, 
                        "source_type": "0001", 
                        "system_id": "Android 7", 
                        "network_type": "wifi", 
                        "token_id": "123235h5e3"
                      }
                    }

           axios(axiosBaseUrl+"personProLend/buyStandard",req).then(res=>{

           }).catch(err=>{

           })

        },
        dispear(){
          document.getElementById("label").style.display = 'none';
        },
        apear(){
          if(this.count == ""){
            document.getElementById("label").style.display = 'block';
          }
        
        },
        labelClick(){
          document.getElementById("text").focus();
        },
        showToast(text){
          this.hint = text
          document.getElementById("toast").style.display="block"
          setTimeout(function(){
            document.getElementById("toast").style.display="none"
          },2000) 
        },
        showToastZoom(text){
          this.hint = text
          let vms = this
          vms.h2=window.innerHeight
            document.getElementById("toast").style.top=vms.h2-document.documentElement.clientWidth / 1242*120*3+"px"
            document.getElementById("toast").style.display="block"
         /*  setTimeout(function(){
            vms.h2=window.innerHeight
            document.getElementById("toast").style.top=vms.h2-document.documentElement.clientWidth / 1242*120*3+"px"
            document.getElementById("toast").style.display="block"
            
            //alert("h1:"+vms.h1+"h2:"+vms.h2)
          },1000) 
          */
        /*   setTimeout(function(){
            document.getElementById("toast").style.display="none"
            document.getElementById("toast").style.top=""
            document.getElementById("toast").style.bottom="3.6rem"
          },3000)  */
        },
        initData(){
          let vms = this
          let req = {
                    "tel_phone": "15822753827",
                    "jyd_pubData": {
                        "user_id": 91, 
                        "source_type": "0001", 
                        "system_id": "Android 7", 
                        "network_type": "wifi", 
                        "token_id": "123235h5e3"
                    }
                }
          axios.post(axiosBaseUrl+"balanceQuery",req).then(res=>{
            vms.avail = res.data.avail_bal
            
            console.log("vms.avail",vms.avail)
          }).catch(err=>{
            console.log(err)
          })
        }
      },
      mounted() {
       this.initData();
       document.getElementById("main").style.minHeight = (document.documentElement.clientHeight)+"px";
       this.h1=window.innerHeight
      },
    })
  </script>
</body>
</html>