<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/axios.config.js"></script>
  
  <link rel="stylesheet" href="../css/gold.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
      <div class="modal" v-if="modal" @click="modalClose">
          <div class="modal-card">
            <div class="modal-succed">兑换成功</div>
            <div class="modal-desc">
              <div>
                <div class="modal-desc-item modal-desc-item-l">本次兑换嘉金币数额：</div>
                <div class="modal-desc-item modal-desc-item-r">{{remain_points}}枚</div>
              </div>
              <div>
                <div class="modal-desc-item modal-desc-item-l" >已成功兑换现金：</div>
                <div class="modal-desc-item modal-desc-item-r">{{money}}元</div>
              </div>
            </div>
            <div class="modal-text">
              <div>兑换金额将在T+1个工作日内</div>
              <div>划拨至您的银行存管电子账户。</div>
            </div>
            <div class="modal-btn-block">
              <button ontouchstart="" class="modal-btn" @click.stop="submitData" type="button">确定</button>
            </div>
          </div>
        </div>
    <div class="content">
        
        <header>
          <img src="../image/me_1.png" alt="">
        </header>
        <div class="succeed">
          <div>
            <div>嘉金币余额</div>
            <div>{{remain_points}}</div>
          </div>
          <div>
            <div>已激活数量</div>
            <div>{{activated_points}}</div>
            <div><img src="../image/gold_03.png" alt=""></div>
          </div>
        </div>
        <article>
            <div class="context-safety">
              <div class="context-title">
                <p>嘉金币明细</p> 
              </div>
              <div class="context-line"></div>
            </div>
          <ul>
            <li v-for="item in list">
              <div></div>
              <div>{{item.channel}}</div>
              <div :class="{'add':item.income>0,'remove':item.income<0}">{{item.income}}</div>
              <div></div>
            </li>
            
          </ul>
        </article>
       
        <footer>
          
          <div class="btn-block">
              <button class="btn" @click="index()" ontouchstart="">
                  兑换现金
                </button>
          </div>
         <a href="javascript:void(0)">嘉金币规则</a>
        </footer>
    </div>
  </div>
  <script>
     document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el:"#main",
      data(){
        return{
          modal:false,
          remain_points:"",
          activated_points:"",
          money:"",
          page:"1",
          list:[],
          RNmessage :{
                        tel_phone: "",
                        page_number: "",
                          jyd_pubData: {
                                  user_id: "", 
                                  source_type: "", 
                                  system_id: "", 
                                  network_type: "", 
                                  token_id: ""
                              }
                    }

        }
      },
      methods:{
        index(){
         this.modal = true;
        },
        modalClose(){
          this.modal = false
        },
        submitData(){
          let vms = this;
          let req = {
                     "tel_phone": vms.RNmessage.tel_phone,
                    "jyd_pubData": {
                            "user_id": vms.RNmessage.jyd_pubData.user_id, 
                            "source_type": "0002", 
                            "system_id": vms.RNmessage.jyd_pubData.system_id, 
                            "network_type": vms.RNmessage.jyd_pubData.network_type, 
                            "token_id": vms.RNmessage.jyd_pubData.token_id
                        }
                    }
            axios.post(axiosBaseUrl+"integral/exchangeToCash",req).then(res=>{
              vms.initList()
              vms.modal = false
            }).catch(err=>{

            })
            
        },
        initList(){
          let vms = this

          let req = {
                    "tel_phone": vms.RNmessage.tel_phone,
                    "page_number": "1",
                    "jyd_pubData": {
                            "user_id": vms.RNmessage.jyd_pubData.user_id, 
                            "source_type": "0002", 
                            "system_id": vms.RNmessage.jyd_pubData.system_id, 
                            "network_type": vms.RNmessage.jyd_pubData.network_type, 
                            "token_id": vms.RNmessage.jyd_pubData.token_id
                        }
                    }
            axios.post(axiosBaseUrl+"integral",req).then(res=>{
              vm.list = res.data.record_list
              vms.remain_points = res.data.remain_points
              vms.activated_points = res.data.activated_points
              vms.money=(vms.remain_points/50).toFixed(2);
            }).catch(err=>{

            })
        },
        initData(){
          let vms = this
          let req = {
                    "tel_phone": vms.RNmessage.tel_phone,
                    "page_number": "1",
                    "jyd_pubData": {
                            "user_id": vms.RNmessage.jyd_pubData.user_id, 
                            "source_type": vms.RNmessage.jyd_pubData.source_type, 
                            "system_id": vms.RNmessage.jyd_pubData.system_id, 
                            "network_type": vms.RNmessage.jyd_pubData.network_type, 
                            "token_id": vms.RNmessage.jyd_pubData.token_id
                        }
                    }
            axios.post(axiosBaseUrl+"integral",req).then(res=>{
              vm.list = res.data.record_list
              vms.remain_points = res.data.remain_points
              vms.activated_points = res.data.activated_points
              vms.money=(vms.remain_points/50).toFixed(2);
            }).catch(err=>{

            })
        },
        init(){
          let vms = this
          //本地测试用这段代码
          var str = {
                    "tel_phone": "15822753827",
                    "page_number": "1",
                    "jyd_pubData": {
                            "user_id": "4", 
                            "source_type": "0001", 
                            "system_id": "Android 7", 
                            "network_type": "wifi", 
                            "token_id": "89a5ad1adba2f96b"
                        }
                    }


          vms.RNmessage = JSON.parse(JSON.stringify(str))
          vms.initData()
            //分割线
          window.onload = function () {
              document.addEventListener('message', function (e) {
                  
              })
              
          }
          var refreshIntervalId = setInterval(function(){
              if (window.originalPostMessage) {
                
                  stop();
              } 
          }, 500);

          function stop(){
              let message = {key:'1',val:{name:'首次打开'}}
              window.postMessage(JSON.stringify(message));
              clearInterval(refreshIntervalId);
          }
        }
      },
      mounted() {
        this.init()
      },
    })
  </script>
</body>
</html>