<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="../js/vue.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/axios.min.js"></script>
    <script src="../js/axios.config.js"></script>
    <script src="../js/bscroll.min.js"></script>
    <link rel="stylesheet" href="../css/particulars.css">
    <title>Document</title>
</head>
<body>
  <div id="main">
    <div>
        <header>
            <div class="head-content" >
                <div class="head-content-item" v-on:click="changeCurrent(1)" :class={"head-content-item_choose":choose==1}>
                  近期明细
                </div>
                <div class="head-content-item" v-on:click="changeCurrent(2)" :class={"head-content-item_choose":choose==2}>
                  历史明细
                </div>
              </div>
        </header>
        <div class="content">
          <div v-if="choose==1">
            <article>
              <div class="wrapper">
                <div class="contents">
                  <div>
                      <div v-for="(item,index) in recentList" class="item">
                          <div class="item-l">
                            <div class="item-l-t">{{item.describe}}</div>
                            <div class="item-l-b">流水号：{{item.traceNo}}</div>
                          </div>
                          <div class="item-r">
                            <div class="item-r-t" v-class="{'item-r-t_remove':(item.txFlag=='-')}">{{item.txFlag}}{{item.txAmount}}</div>
                            <div class="item-r-b">{{item.inpDate}}</div>
                          </div>
                        </div>
                  </div>
                 </div>
              </div>
            </article>
          </div>
          <div v-if="choose==2">
              <article>
                  <div v-for="(item,index) in historyList" class="item">
                    <div class="item-l">
                      <div class="item-l-t">{{item.amount | money}}</div>
                      <div class="item-l-b">流水号：{{item.serial_no}}</div>
                    </div>
                    <div class="item-r">
                      <div class="item-r-t" v-class="{'item-r-t_remove':(item.amount<0)}">{{item.amount}}</div>
                      <div class="item-r-b">{{item.deal_date}}</div>
                    </div>
                  </div>
                </article>
          </div>
        </div>
    </div>
  </div>
  <script>
     document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
     var vm = new Vue({
       el:"#main",
       data(){
         return{
          choose:1,
          list:[0,1,2,3],
          page1:1,
          page1:2,
          scroll:{},
          scrolls:{},
          recentList:[],
          historyList:[],
          RNmessage:{}
         }
       },
       filters:{
         money(value) {
           var str =""
           if(value>0) {
             str = "签到领红包"
           }else{
             str = "提取现金"
           }
           return str
         }
       },
       methods:{
        changeCurrent(value){
            let vms = this
            this.choose=value;
        },
        initRecent(){
          let vms = this
          let req ={
                    "tel_phone": vms.RNmessage.tel_phone,
                    "type": "0",
                    "tran_type": "9",
                    "jyd_pubData": {
                      "user_id": vms.RNmessage.jyd_pubData.user_id,
                      "source_type": vms.RNmessage.jyd_pubData.source_type,
                      "system_id": vms.RNmessage.jyd_pubData.system_id,
                      "network_type": vms.RNmessage.jyd_pubData.network_type,
                      "token_id": vms.RNmessage.jyd_pubData.token_id
                    }
                  }


          axios.post(axiosBaseUrl+"assets/jxDetailQuery",req).then(res=>{
            vms.recentList = res.data.sub_packs
            //vms.recentList = [0,1,2,3,4,5,6,7,8,9]
            vms.$nextTick(() => {
                vms.initRecentScroll();
            });
          }).catch(err=>{

          })
        },
        initHistory(){
          let vms = this
          let req = {
                    "page_number": "1",
                    "tel_phone": vms.RNmessage.tel_phone,
                    "jyd_pubData": {
                      "user_id": vms.RNmessage.jyd_pubData.user_id,
                      "source_type": vms.RNmessage.jyd_pubData.source_type,
                      "system_id": vms.RNmessage.jyd_pubData.system_id,
                      "network_type": vms.RNmessage.jyd_pubData.network_type,
                      "token_id": vms.RNmessage.jyd_pubData.token_id
                    }
                  }
          axios.post(axiosBaseUrl+"assets/historyBalance",req).then(res=>{
            vms.historyList = res.data.record_list
          }).catch(err=>{

          })
        },
        initRecentScroll(){
          this.scroll = new window.BScroll(document.querySelector(".contents"), {
                          probeType: 2,
                          click:true,
                          momentum:false,
                          pullUpLoad: true ,
                        });
          this.scroll.on('touchEnd', this.recentScrollUp)
        },
        initHistoryScroll(){

        },
        recentScrollUp(pos){
          if(this.scroll.maxScrollY>pos.y+50){
              this.page++
              let vms = this
              let req ={
                    "tel_phone": vms.RNmessage.tel_phone,
                    "type": "0",
                    "tran_type": "9",
                    "jyd_pubData": {
                      "user_id": vms.RNmessage.jyd_pubData.user_id,
                      "source_type": vms.RNmessage.jyd_pubData.source_type,
                      "system_id": vms.RNmessage.jyd_pubData.system_id,
                      "network_type": vms.RNmessage.jyd_pubData.network_type,
                      "token_id": vms.RNmessage.jyd_pubData.token_id
                    }
                  }
                  axios.post(axiosBaseUrl+"assets/jxDetailQuery",req).then(res=>{
                    vms.recentList = vms.recentList.concat(data.sub_packs)
                    vms.$nextTick(() => {
                        vms.scroll.refresh();
                    });
                  }).catch(err=>{

                  })
              
            }
        },
        historyScrollUp(pos){

        },
        init(){
          let vms = this
          //本地测试用这段代码
          var str = {
                    "page_number": "1",
                    "tel_phone": "15822753827",
                    "jyd_pubData": {
                      "user_id": 2,
                      "source_type": "0001",
                      "system_id": "Android 7",
                      "network_type": "wifi",
                      "token_id": "123235h5e3"
                    }
                  }
         vms.RNmessage = JSON.parse(JSON.stringify(str))
         vms.initRecent()
         vms.initHistory()
          //分割线
          window.onload = function () {
              document.addEventListener('message', function (e) {
                  vms.RNmessage = JSON.parse(e.data)
                  vms.initRecent()
                  vms.initHistory()
              })
              
          }
          var refreshIntervalId = setInterval(function(){
              if (window.originalPostMessage) {
                
                  stop();
              } 
          }, 500);

          function stop(){
              window.postMessage("");
              clearInterval(refreshIntervalId);
          }
        },
       },
       mounted() {
         this.init()
       },
     })
  </script>
</body>
</html>