<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <link rel="stylesheet" href="../css/share.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
      <div class="toast" id="toast">
          {{hint}}
      </div>
    <header>
      <img src="../image/sy_21_1.png" alt="" class="header-img-t">
      <img src="" alt="">
    </header>
    <article>
      <div class="card">
          <div class="card-item mt78">
            <div class="card-item-l">手机号</div>
            <div class="card-item-r"><input type="text" placeholder="请输入手机号" v-model="tel"></div>
          </div>
          <div class="card-item mt60">
            <div class="card-item-l">登陆密码</div>
            <div class="card-item-r"><input type="password" placeholder="6-20位字母与数字的组合" v-model="password"></div>
          </div>
          <div class="message">
            <button class="h117w564f36 mt42 mb48" ontouchstart="" @click="meaagesCode()" v-if="message">点击获得短信验证码</button>
            <div  v-if="!message"id="wrapper" class="mt15 mb18">
                <div id="drag">
                      <div class="drag_bg" id="drag_bg"></div>
                      <div id="drag_text" class="drag_text slidetounlock" onselectstart="return false;" unselectable="on">
                          请按住滑块拖动到最右侧
                      </div>
                      <div class="handler handler_bg" id="handler">
                          <img src="../image/fx_77.png" alt="">
                         
                      </div>
                  </div>
            </div>
          </div>
          <div class="card-item">
            <div class="card-item-l">手机验证码</div>
            <div class="card-item-r"><input type="text" placeholder="请输入验证码" v-model="code"></div>
          </div>
         
      </div>
      <div class="div"><img src="../image/dl_1.png" alt=""></div>
     
    </article>
    <footer>
        <div class="footer-btn-content">
          <button class="h117w564f50" ontouchstart="" @click="formdata">立即注册</button>
        </div>
        <div class="footer-sign-desc">点击注册代表您已阅读并同意<a href="javascript:void(0)"> 《注册协议》</a></div>
        <div class="footer-icon">
          <img src="../image/erweima.jpg" alt="">
        </div>
        <div class="footer-app-desc">
          下载嘉e贷App
        </div>
      </footer>
  </div>
  <script>
     document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
    var vm = new Vue({
      el:"#main",
      data(){
        return{
          message:true,
          tel:"",
          hint:"",
          password:"",
          code:""
        }
      },
      methods:{
        testTel(){
          var vms = this
          console.log(vms.tel)
          if((/^1[3|4|5|8][0-9]\d{4,8}$/.test(vms.tel))){
            return true
          }else{
            this.hint = "请输入正确的手机号码"
            document.getElementById("toast").style.display="block"
            setTimeout(function(){
              document.getElementById("toast").style.display="none"
            },2000)
            return false
          }
          
          
        },
        testPassword(){
          var vms = this
          if((/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/.test(this.password))){
            return true
          }else{
            this.hint = "密码格式错误"
            document.getElementById("toast").style.display="block"
            setTimeout(function(){
              document.getElementById("toast").style.display="none"
            },2000)
            return false
          }
        },
        meaagesCode(){
          if(this.testTel()){
            this.message = false
            this.$nextTick(function(){
              this.initMessage()
            })
          }
        },
        formdata(){
          if( (this.testTel()==true)&& (this.testPassword()==true)){
            console.log("合格")
          }
        },
        initMessage(){
          var vm = this
          var wrapper = document.getElementById("wrapper");
           var handler = document.getElementById("handler");
           var drag = document.getElementById("drag")
           var login = document.getElementById("login-con")
           var drag_bg =  document.getElementById("drag_bg");
           var text =  document.getElementById("drag_text");
           var isMove = false
           var x 
         // var maxWidth =  document.documentElement.clientWidth / 1242*100*5.64;  //能滑动的最大间距
         var maxWidth = document.documentElement.clientWidth / 1242*100*(5.64-1.17)
         
          function mousedown(e){
            console.log( "mousedown"+e.touches[0])
               isMove = true;
              x = e.touches[0].clientX - parseInt(handler.offsetLeft);
              
               handler.addEventListener("click",clicks,false)
               console.log("增加")
                handler.removeEventListener("click",clicks,false)
                console.log("删除")
                 document.addEventListener("touchmove",mousemove,false)
                document.addEventListener("touchend",mouseup,false)
               
          }
            function clicks(){}
          function mousemove(e){
            console.log( "mousemove"+e.touches[0])
               console.log("过程")
              var _x = e.touches[0].clientX - x;
             
              if (isMove) {
                    if (_x > 0 && _x <= maxWidth) {
                        
                        handler.style.left= _x+"px"
                        drag_bg.style.width= _x+"px"
                    } else if (_x > maxWidth) {  //鼠标指针移动距离达到最大时清空事件
                        dragOk();
                    }
                }

          }
          function mouseup(e){
              
              console.log("结束")
              console.log( "mousemove",e.changedTouches)
               document.removeEventListener("touchmove",mousemove,false)
                document.removeEventListener("touchend",mouseup,false)
                 //drag.removeEventListener("mousedown",mousedown,false)
               isMove = false;
                var _x = e.changedTouches[0].clientX - x;
                if (_x < maxWidth) { //鼠标松开时，如果没有达到最大距离位置，滑块就返回初始位置
                    
                   
                     handler.className="handler handler_bg button_move"
                     handler.style.left= -(document.documentElement.clientWidth / 1242*100*1.17/2)+"px"
                     
                     setTimeout(function(){ 
                         handler.className="handler handler_bg"
                     },550); 
                   
                   drag_bg.className="drag_bg bg_move"
                   drag_bg.style.width= 0+"px"
                     setTimeout(function(){ 
                         drag_bg.className="drag_bg"
                     },550); 
                    
                }
                
          }
        
          drag.addEventListener("touchstart",mousedown,false)
         /*  drag.addEventListener("mousemove",mousemove,false)
          drag.addEventListener("mouseup",mouseup,false) */
          
          function dragOk(){
             
              vm.isdrag=true
              var x = 59
              //handler = "handler handler_ok_bg" 
              text.className ="drag_text"
              text.innerHTML=x+"秒后重试";
             // text.style.color = "#fff"
              handler.style.display="none"
              //drag_bg.style.display= maxWidth+"px"
              var time  = setInterval(function(){
                x--
                text.innerHTML=x+"秒后重试";
                if(x==1){
                 
                  clearTimeout(time)
                  vm.message = true
                }
              },1000);
            
          }
        }
      },
      mounted() {
        
      },
    })
  </script>
</body>
</html>