<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/bscroll.min.js"></script>
  <script src="../js/axios.config.js"></script>
  <link rel="stylesheet" href="../css/signInCash.css">
  <title>Document</title>
</head>
<body>
  <div id="main">
    <div>
      <header>
        今日已领
      </header>
      <article>
        <div class="card">
          <div>
              <div class="card-t">{{objData.amount}}</div>
              <div class="card-b">{{objData.reward_type | unit}}</div>
          </div>
        </div>
        <ul>
          <li>
            <div>已连续签到</div>
            <div class="p72">{{continue_times}}天</div>
          </li>
          <li>
            <div>累计签到次数</div>
            <div>{{addup_times}}</div>
          </li>
        </ul>
        <div class="content-btn">
            <button class="btn" @click="modalShow()" ontouchstart="">
                签到记录
              </button>
        </div>
      </article>
      <footer>
          <div class="context-safety mt201">
            <div class="context-title">
              <p>签到说明</p> 
            </div>
            <div class="context-line"></div>
          </div>
          <div class="context-safety-desc">
            <p>每日签到可获取嘉金币或签到金。</p>
            <p>连续签到，可获得签到金的可能性更高。</p>
            <p>签到金将直接发送至您的银行存管电子账户</p>
          </div>
        </footer>
    </div>
    <div class="modal" v-on:click="modalClose()" v-if="modal">
      <div v-if="modal1">
          <div class="modal-title">
              签到成功
        </div>
        <div v-bind:class="{ 'modal-card': objData.reward_type=='嘉金币', 'modal-card1': objData.reward_type=='签到金' }">
          <!--  v-bind:class="{ modal-card: objData.reward_type=='嘉金币', modal-card1: objData.reward_type=='签到金' }" -->
          <div class="modal-card-content">
            今日已获得{{objData.amount}}{{objData.reward_type}}奖励！
          </div>
          <div class="modal-card-content-btn">
            <button ontouchstart="">领取签到奖励</button>
          </div>
        </div>
      </div>
      
      <div  v-if="modal3" >
        <div class="wrapper" >
          <div  class="content">
              <table class="content-table">
             
                  <tr v-for="(item,index) in recordList" :key="index">
                    <td>{{item.get_item}}</td>
                    <td>{{item.get_value}}</td>
                    <td>{{item.input_time}}</td>
                  </tr>
                 
              </table>
          </div>
        </div>
          
      </div>
    </div>
    
  </div>
  <script>
     document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
     var vm = new Vue({
       el:"#main",
       data(){
         return{
          RNmessage:{},
          modal:false,
          modal1:false,
          modal3:false,
          continue_times:"",
          addup_times:"",
          page:1,
          scroll:{},
          error:false,
          objData:{
                  reward_type:"",
                  amount:"",
                  return_msg:"",
                  return_code:""
                 },
          recordList:[0,1,2,3,4,5,6,7,8,9],       

         }
       },
       filters:{
        unit(value){
          var b  = value.replace('奖励','');
          return b
        }
       },
       methods:{
         init(){
          let vms = this
          //本地测试用这段代码
            var str = {
                      "tel_phone": "15822753827", 
                      "jyd_pubData": {
                        "user_id": 2, 
                        "source_type": "0001", 
                        "system_id": "Android 7", 
                        "network_type": "wifi", 
                        "token_id": "88f7ef8134e6317e"
                      }
                    }
            vms.RNmessage = JSON.parse(JSON.stringify(str))
            vms.initSign();
            vms.initSignRecord();
            //分割线
            window.onload = function () {
                document.addEventListener('message', function (e) {
                    vms.RNmessage = JSON.parse(e.data)
                    vms.initSign();
                    vms.initSignRecord();
                })
                
            }
            var refreshIntervalId = setInterval(function(){
                if (window.originalPostMessage) {
                  
                    stop();
                } 
            }, 500);

            function stop(){
                window.postMessage("");
                clearInterval(refreshIntervalId);
            }
         },
         modalShow(){
          this.modal = !this.modal
          this.modal1 = false
          this.modal3 = true
          this.$nextTick(() => {
            this.initMainScroll();
            
          });
        },
        modalClose(){
          
          this.modal = !this.modal
        },
        initMainScroll(){
          this.scroll = new window.BScroll(document.querySelector(".content"), {
            probeType: 2,
            click:true,
            momentum:false,
            pullUpLoad: true ,
          });
          this.scroll.on('touchEnd', this.mainScrollUp)
        },
        mainScrollUp(pos){
          let vms =this
          if(pos.y>50){
            console.log("下拉刷新")
             
             vms.scroll.refresh()
            let req = {
                      "page_number": "1",
                      "tel_phone": vms.RNmessage.tel_phone, 
                      "jyd_pubData": {
                        "user_id":  vms.RNmessage.jyd_pubData.user_id, 
                        "source_type":  vms.RNmessage.jyd_pubData.source_type, 
                        "system_id":  vms.RNmessage.jyd_pubData.system_id, 
                        "network_type": vms.RNmessage.jyd_pubData.network_type, 
                        "token_id":  vms.RNmessage.jyd_pubData.token_id
                      }
                    }
            axios.post(axiosBaseUrl+"checkIn/queryCheckIn",req).then(res=>{
                vms.recordList = res.data.record_list;
                vms.page = 1
                vms.$nextTick(() => {
                  vms.scroll.refresh()
                  });
              }).catch(err=>{
                console.log(res);
              })
          }
          if(vms.scroll.maxScrollY>pos.y+50){
              vms.page++
             let req = {
                      "page_number": vms.page,
                      "tel_phone": vms.RNmessage.tel_phone, 
                      "jyd_pubData": {
                        "user_id":  vms.RNmessage.jyd_pubData.user_id, 
                        "source_type":  vms.RNmessage.jyd_pubData.source_type, 
                        "system_id":  vms.RNmessage.jyd_pubData.system_id, 
                        "network_type": vms.RNmessage.jyd_pubData.network_type, 
                        "token_id":  vms.RNmessage.jyd_pubData.token_id
                      }
                    }
            axios.post(axiosBaseUrl+"checkIn/queryCheckIn",req).then(res=>{
             
             // vms.scroll.refresh()
                vms.recordList=vms.recordList.concat(res.data.record_list)
                vms.$nextTick(() => {
                  
                  vms.scroll.refresh()
                  });
              }).catch(err=>{
                console.log(res);
              })

           
          } 
        },
         initSign(){
           let vms = this;
           let req = {
                      "tel_phone": vms.RNmessage.tel_phone, 
                      "jyd_pubData": {
                        "user_id":  vms.RNmessage.jyd_pubData.user_id, 
                        "source_type":  vms.RNmessage.jyd_pubData.source_type, 
                        "system_id":  vms.RNmessage.jyd_pubData.system_id, 
                        "network_type": vms.RNmessage.jyd_pubData.network_type, 
                        "token_id":  vms.RNmessage.jyd_pubData.token_id
                      }
                    }
          axios.post(axiosBaseUrl+"checkIn",req).then(res=>{
            if(res.data.return_code=="0000"){
              vms.objData = res.data
              this.modal = true
              this.modal1 = true
            }else{
              vms.error = true
            }
            

          }).catch(err=>{

          })
           
         },
         initSignRecord(){
          let vms = this;
           let req = {
                      "page_number": "1",
                      "tel_phone": vms.RNmessage.tel_phone, 
                      "jyd_pubData": {
                        "user_id":  vms.RNmessage.jyd_pubData.user_id, 
                        "source_type":  vms.RNmessage.jyd_pubData.source_type, 
                        "system_id":  vms.RNmessage.jyd_pubData.system_id, 
                        "network_type": vms.RNmessage.jyd_pubData.network_type, 
                        "token_id":  vms.RNmessage.jyd_pubData.token_id
                      }
                    }
          axios.post(axiosBaseUrl+"checkIn/queryCheckIn",req).then(res=>{
            vms.recordList = res.data.record_list
            vms.continue_times = res.data.continue_times
            vms.addup_times = res.data.addup_times
            if(vms.error == true){
              vms.objData.reward_type = "签到金"
              vms.objData.amount = "10.08元"
            }
          }).catch(err=>{

          })
         }
       },
       mounted() {
        this.init();
        this.$nextTick(() => {
          //this.initMainScroll();
          
        });
       },
     })
  </script>
</body>
</html>