<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../js/vue.min.js"></script>
  <script src="../js/axios.min.js"></script>
  <script src="../js/axios.config.js"></script>
  <link rel="stylesheet" href="../css/transfer.css">
  <script src="../js/bscroll.min.js"></script>
 
  
</head>
<body>
  <div class="wrapper" id="main">
    <div class="content">
      <div >
          <div id="top" style="display: block;overflow: hidden;" class="top">
              <div class="card">
                  <div>
                   
                  </div>
                  <div>
                   资金周转
                  </div>
                  <div>等额本息</div>
                  <div>年化利率</div>
                  <div>{{objData.Obligatoryrightrealation.yearrate}}<span style="font-size: 0.39rem">%</span></div>
                 
                  <div>
                    剩余时间:{{d}}天{{h}}小时{{m}}分
                  </div>
                  
                  <div></div>
                    <div class="card-bottom">
                    <div class="card-bottom-l">
                        <div>
                            <div class="card-bottom-top">剩余期限</div>
                            <div class="card-bottom-bottom">{{objData.Obligatoryrightrealation.month}} 期+{{objData.Obligatoryrightrealation.daysSpan}} 天</div>
                        </div>
                    </div>
                    <div class="card-bottom-c">
                        <div>
                            <div class="card-bottom-top">转让金额（元）</div>
                            <div class="card-bottom-bottom"> {{objData.Obligatoryrightrealation.transferAmoney}}</div>
                        </div>
                    </div>
                      <div class="card-bottom-r">
                        <div>
                          <div class="card-bottom-top">借款额（元）</div>
                          <div class="card-bottom-bottom">{{objData.Obligatoryrightrealation.curmatchMoney}}</div>
                        </div>
                      </div>
                    </div>
                </div>
               
                  
               
                <div class="context">
                  <ul>
                      <li>
                          <p>转让编号:</p>
                          <p>{{objData.Obligatoryrightrealation.relationid}}</p>
                      </li>
                      <li>
                            <p>本金折扣:</p>
                            <p >{{objData.Obligatoryrightrealation.discount}}%</p>
                            
                        </li>
                        <li>
                            <p>还款方式:</p>
                            <p>等额本息</p>
                        </li>
                        <li>
                            <p>发布时间:</p>
                            <p>{{objData.Obligatoryrightrealation.starttime}}</p>
                        </li>
                        <li>
                            <p>下一个还款日:</p>
                            <p>{{objData.Obligatoryrightrealation.returndate}}</p>
                        </li>
                       
                  </ul>
                </div>
                <footer class="top-footer">
                  <div class="foot-touch" id="touch">
                    -向上滑动，查看更多详情-
                  </div>
                 
                  <div class="foot-content">
                     <!--  <button ontouchstart="" class="foot-content-btn"  @click="submit()" >还款中</button> -->
                  </div>
                </footer>
          </div>
         
          
          <div style="display: none;" id="bottom" class="bottom">
            <header>
              <div class="head-content" id="head-content">
                <div class="head-content-item " v-on:click="changeCurrent(1)" :class={"head-content-item_choose":choose==1}>借款信息</div>
                <div  class="head-content-item " v-on:click="changeCurrent(2)" :class={"head-content-item_choose":choose==2}>出借记录</div>
                <div  class="head-content-item" v-on:click="changeCurrent(3)" :class={"head-content-item_choose":choose==3}>还款计划</div>
              </div>
            </header>
            <div id="choose1" v-if="choose==1">
                <div class="context">
                    
                    <div class="context-message">
                      <div class="context-title">
                       <p>借款人信息</p> 
                      </div>
                      <div class="context-line"></div>
                    </div>
                    <div class="context-message-desc">
                     <div>借款人主体性质:自然人</div>
                     <ul>
                        <li>
                            <p>姓名</p>
                            <p>{{Borrow.name}}</p>
                        </li>
                        <li>
                            <p>身份证号</p>
                            <p>{{Borrow.identify_id}}</p>
                        </li>
                        <li>
                            <p>性别</p>
                            <p>{{Borrow.sex}}</p>
                        </li>
                        <li>
                            <p>婚姻</p>
                            <p>{{Borrow.marriage}}</p>
                        </li>
                        <li>
                            <p>最高学历</p>
                            <p>{{Borrow.edu_type}}</p>
                        </li>
                        <li>
                            <p>现居地</p>
                            <p>{{Borrow.house_address}}</p>
                        </li>
                        <li>
                            <p>房产信息</p>
                            <p>{{Borrow.house_info}}</p>
                        </li>
                        <li>
                            <p>车产信息</p>
                            <p>{{Borrow.car_info}}</p>
                        </li>
                        <li>
                            <p>工作行业</p>
                            <p>{{Borrow.industry}}</p>
                        </li>
                        <li>
                            <p>月收入</p>
                            <p>{{Borrow.month_pay}}</p>
                        </li>
                        <li>
                            <p>工作年限</p>
                            <p>{{Borrow.work_time}}</p>
                        </li>
                        <li>
                            <p>工作职务</p>
                            <p>{{Borrow.dt_duty}}</p>
                        </li>
                     </ul>
                    
                    </div>
                   
                    <div class="context-record">
                        <div class="context-title" style="width:3.17rem">
                            <p>借款人信用档案</p> 
                          </div>
                          <div class="context-line" style="width: 8.04rem;left: 3.27rem;"></div>
                    </div>
                    <div class="context-record-desc">
                        <ul style="margin-top: 0.66rem">
                            <li>
                                <p>逾期次数</p>
                                <p>{{Borrow.overdue_times}}次</p>
                            </li>
                            <li>
                                <p>逾期总金额</p>
                                <p>{{Borrow.overdue_money}}元</p>
                            </li>
                            <li>
                                <p>待还总额</p>
                                <p>{{Borrow.wait_pay}}元</p>
                            </li>
                            <li>
                                <p>借款人在其他网络借款平台借款情况</p>
                                <p>{{Borrow.other_borrow}}</p>
                            </li>
                     </ul>
                    </div>
                    <div class="context-borrow">
                        <div class="context-title">
                            <p>借款信息</p> 
                          </div>
                          <div class="context-line"></div>
                    </div>
                    <div class="context-borrow-desc">
                        <ul style="margin-top: 0.66rem">
                                <li>
                                    <p>借款用途</p>
                                    <p>{{Borrow.borrow_use}}</p>
                                </li>
                                <li>
                                    <p>借款时间</p>
                                    <p>{{Borrow.lend_time}}</p>
                                </li>
                                <li>
                                    <p>借款类型</p>
                                    <p>{{Borrow.big_type}}</p>
                                </li>
                      </ul>
                      <div>
                          <span style="margin-top: 0.72rem;display: block;">
                              还款来源及保障措施
                          </span>
                          <p>借款人未能按时、足额偿还本息时，处置抵押质押车辆，所得价款用于足额偿还借款本息</p>
                          
                      </div>
                      </div>
                      <div class="context-audit">
                            <div class="context-title">
                                <p>借款信息</p> 
                                </div>
                                <div class="context-line"></div>
                        </div>
                      <div class="context-audit-desc">
                        <ul style="margin-top: 0.66rem">
                            <li>
                                <p>身份证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>收入证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>面审</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>实地考察</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>个人信用报告</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>住址证明</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>借款合同</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>借款申请表</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>信用咨询与管理服务协议</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>平台委托授权书</p>
                                <p>通过</p>
                            </li>
                            <li>
                                <p>其他</p>
                                <p>通过</p>
                            </li>
                        </ul>
                      </div>
                    </div>
                    <div class="foot-touch-bottom">
                        -点击查看借款人回访-
                      </div>
                      <footer class="footer">
              
                        <div class="foot-content">
                            <!-- <button ontouchstart="" class="foot-content-btn">还款中</button> -->
                        </div>
                        
                      </footer>
                
            </div>
            <div id="choose2" v-if="choose==2">
                <div class="context">
                    <div class="context-title"></div>
                    <div class="wrappers">
                        <div class="contents">
                            <div class="context-table-wrap">
                                <table class="context-table">
                                  <tr>
                                    <th>借款人</th>
                                    <th>出借金额（元）</th>
                                    <th>出借记录</th>
                                    <th></th>
                                  </tr>
                                  <tr v-for="(item,index) in recordList" :key="index">
                                        <td>{{item.tel_phone}}</td>
                                        <td>{{item.amount}}</td>
                                        <td>{{item.lend_time}}</td>
                                    </tr>
                                  
                                 
                                </table>
                              </div>
                        </div>
                    </div>
                   
                  </div>
                  <div style="width: 100%;height: 2.1rem;">

                  </div>
                 <footer class="footer bottom-footer-3">
              
                    <div class="foot-content">
                        <!-- <button ontouchstart="" class="foot-content-btn">还款中</button> -->
                    </div>
                    
                  </footer>
            </div>
            <div id="choose3" v-if="choose==3">
                <div class="context">
                    <div class="context-title"></div>
                    <div class="context-table-wrap">
                    <div class="card" v-for="(item,index) in planList" ::key="index">
                        <div>{{item.return_no}}</div>
                        <div>{{item.repay_status}}</div>
                        <div>应还本金</div>
                        <div>{{item.principal}}</div>
                        <div>应还利息</div>
                        <div>{{item.interest}}</div>
                        <div>总款金额</div>
                        <div>{{item.total_return}}</div>
                    </div>
                         
                   
                    
                    <div class="grayblock" v-if="planList.length==0">

                    </div>
                    <div class="grayblock-desc" v-if="planList.length==0">
                        尚未生成数据
                    </div>
                  </div>
                  <div style="width: 100%;height: 2.1rem;">

                  </div>
                  <footer class="footer bottom-footer-3">
              
                    <div class="foot-content">
                        <!-- <button ontouchstart="" class="foot-content-btn">还款中</button> -->
                    </div>
                    
                  </footer>
            </div>
        </div> 
            <!-- <div style="widows: 100%;height:2.25rem;">

            </div> -->
           
          </div>
        </div>
      </div>
  </div>


<script>
  document.documentElement.style.fontSize = document.documentElement.clientWidth / 1242*100 + 'px';
  var vm = new Vue({
    el:"#main",
    data(){
      return{
        h1:"",
        h2:"",
        list:[0,1,2,3,4,5,6,7,8,9],
        choose:1,
        scrolls:{},
        d:"",
        h:"",
        m:'',
        scroll,
        objData:{
                Obligatoryrightrealation: {
                    appleenddate: "",
                    collectedamount: "",
                    expectedyield: "",
                    outapplytime: "",
                    description: "",
                    relationid: "",
                    realendtime: null,
                    starttime: "",
                    nextvaluedate: "",
                    yearrate: "",
                    borrowid: "",
                    curmatchMoney: "",
                    borrowtypeid: "",
                    expiresdays: "",
                    advanceendid: "",
                    transferAmoney: "",
                    offsetamount: "",
                    contractamount: "",
                    investstatus: "",
                    improverate: "",
                    incomeamount: "",
                    returndate: "",
                    contractno: "",
                    daysSpan: "",
                    realouttime: "",
                    applytime: "",
                    expectendtime: "",
                    sellname: "",
                    accountfeerate: "",
                    enddate: "",
                    month: "",
                    expectprofit: "",
                    valuedate: "",
                    discount:"",
                    realapplyendtime: "",
                    expectedyearyield: "",
                    countdowntime:""
                },
                return_msg: "",
                return_code: ""
                },
        Borrow:{
                return_code:"",
                return_msg:"",
                name:"",
                identify_id:"",
                sex:"",
                marriage:"",
                edu_type:"",
                house_address:"",
                house_info:"",
                car_info:"",
                industry:"",
                month_pay:"",
                work_time:"",
                dt_duty:"",
                overdue_times:"",
                overdue_money:"",
                wait_pay:"",
                other_borrow:"",
                borrow_use:"",
                lend_time:"",
                big_type:""
        },
        recordList:[],
        planList:[],    

      }
    },
    created() {
      
    },
    methods:{
      submit(){
        this.submitData();
      },
      submitData(){
        let req = {
                  "tel_phone": "15822753827", 
                  "sell_id": "JE0602018072001", 
                    "jyd_pubData": {
                      "user_id": 91, 
                      "source_type": "0001", 
                      "system_id": "Android 7", 
                      "network_type": "wifi", 
                      "token_id": "123235h5e3"
                    }
                  }
          axios.post(axiosBaseUrl+"productDetails/querySellinDetail",req).then(res=>{
             
          }).catch(err=>{
            console.log(err)
          })
      },
      changeCurrent(value){
        this.choose=value;
        if(value==2) {
            this.initRecordData()
           this.$nextTick(() => {
             this.initRecordScroll()
           });
         }else if(value==3){
            this.initPlanData() 
         }
      },
      initMainData(){
          let vms = this;
          let req = {
                    "relationid": "20181203135610010884", 
                    "jyd_pubData": {
                        "user_id": 39, 
                        "source_type": "0001", 
                        "system_id": "Android 7", 
                        "network_type": "wifi", 
                        "token_id": "123235h5e3"
                    }
                    }
        axios.post(axiosBaseUrl+"productDetails/queryTransferDetail",req).then(res=>{
            vms.objData = res.data
            if(!vms.objData.Obligatoryrightrealation.discount){
                vms.objData.Obligatoryrightrealation.discount=0
            }
            vms.countDown()
            console.log("vms.objData",vms.objData)
        }).catch(err=>{

        })
      },
      initBorrowData(){
         let vms = this 
          let req = {
                    "borrow_id": "20180223114926010025",
                    "jyd_pubData": {
                        "user_id": 41,
                        "source_type": "0001",
                        "system_id": "Android 7",
                        "network_type": "wifi",
                        "token_id": "123235h5e3"
                    }
                    }

          axios.post(axiosBaseUrl+"productMore",req).then(res=>{
            vms.Borrow = res.data; 
          }).catch(err=>{

          })
      },
      initRecordData(){
        let vms = this 
        let req = {
                    "page_number": "1",
                    "borrow_id": "20190311054512010114",
                    "jyd_pubData": {
                        "user_id": 2,
                        "source_type": "0001",
                        "system_id": "Android 7",
                        "network_type": "wifi",
                        "token_id": "123235h5e3"
                    }
                    }

        axios.post(axiosBaseUrl+"productMore/lendRecord",req).then(res=>{
            vms.recordList = res.data.record_list
        }).catch(err=>{
            
        })
      },
      initPlanData(){
        let vms = this 
        let req = {
                    "page_number": "2",
                    "borrow_id": "20180825020450010086",
                    "jyd_pubData": {
                        "user_id": 2,
                        "source_type": "0001",
                        "system_id": "Android 7",
                        "network_type": "wifi",
                        "token_id": "123235h5e3"
                    }
                    }

        axios.post(axiosBaseUrl+"productMore/returnPlan",req).then(res=>{
            vms.planList = res.data.record_list
        }).catch(err=>{
            
        })
      },
      countDown(){
           let vms = this
            function countDownTime(){
            //获取当前时间
              var date = new Date();  
              var now = date.getTime();  
             //设置截止时间
             var str=vms.objData.Obligatoryrightrealation.countdowntime;
             //var str=1533648919181;
             var leftTime = str-now; 
             if (leftTime>=0) {  
                vms.d = Math.floor(leftTime/1000/60/60/24);  
                vms.h = Math.floor(leftTime/1000/60/60%24);  
                vms.m = Math.floor(leftTime/1000/60%60);  
                 //s = Math.floor(leftTime/1000%60);                     
             }  
               
			//console.log(vms.d,vms.h,vms.m)
             //递归每秒调用countTime方法，显示动态时间效果
            }
            
            setInterval(countDownTime,1000);  
   
        
      },
      initMainScroll(){
        this.scroll = new window.BScroll(document.querySelector(".content"), {
          probeType: 2,
          click:true,
          momentum:false,
          pullUpLoad: true ,
         });
         this.scroll.on('touchEnd', this.mainScrollUp)
      },
      initRecordScroll(){
        this.scrolls = new window.BScroll(document.querySelector(".contents"), {
          probeType: 2,
          click:true,
          momentum:false,
          pullUpLoad: true ,
         });
         this.scrolls.on('beforeScrollStart', this.mainScrollDisable)
         this.scrolls.on('touchEnd', this.recordScrollUp)
      },
      recordScrollUp(){
        this.mainScrollEnable()
        if(this.scrolls.maxScrollY>pos.y+50){
          this.recordPage++
          let vms = this
          let req = {
                    "page_number":this.recordPage,
                    "borrow_id":  this.RNmessage.sellInfoId,
                    "jyd_pubData": {
                        "user_id":  this.RNmessage.jyd_pubData.user_id,
                        "source_type": this.RNmessage.jyd_pubData.source_type,
                        "system_id": this.RNmessage.jyd_pubData.system_id,
                        "network_type": this.RNmessage.jyd_pubData.network_type,
                        "token_id": this.RNmessage.jyd_pubData.token_id
                    }
                    }



          axios.post(axiosBaseUrl+"productMore/lendRecord",req).then(res=>{
            var list = res.data.records
            vms.recordList = vms.recordList.concat(list)
            vms.$nextTick(() => {
              vms.scrolls.refresh();
           });
            vms.scrolls.refresh();
            console.log(res)
          }).catch(err=>{
            
          })
        }
     },
      mainScrollUp(pos){
        if(this.scroll.maxScrollY>pos.y+50){
            document.getElementById("bottom").style.display="block";
            this.scroll.refresh();
            this.scroll.scrollToElement(document.querySelector(".bottom"),800,0,0);
            this.scroll.off('touchEnd', this.mainScrollUp)
            this.scroll.on('touchEnd', this.mainScrollDown)
         } 
      },
      mainScrollDown(pos){
        var h = document.getElementById("top").offsetHeight
        if(pos.y>-h+20){
            this.scroll.scrollToElement(document.querySelector(".top"),800,0,0);
            this.scroll.off('touchEnd', this.mainScrollDown)
            this.scroll.on('touchEnd', this.mainScrollUp)
            document.getElementById("bottom").style.display="none";
            this.scroll.refresh();
          }
       }
    },
    mounted() {
     document.getElementById("top").style.minHeight=(document.documentElement.clientHeight+50)+"px";
     document.getElementById("bottom").style.minHeight=(document.documentElement.clientHeight)+"px";
     this.initMainData();
     this.initBorrowData()
      this.$nextTick(() => {
       this.initMainScroll();
      });
    },
  })
</script>
</body>
</html>