html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f0f0f0;
}
header{
  height: 5rem;
  width: 100%;
  margin-bottom: 0.51rem;
}
header>img{
  width: 100%;
}
article{
  overflow: hidden;
}
.context-safety {
  margin-top: 0.75rem;
  margin-left: 0.54rem;
  position: relative;
  height: 0.72rem;
  font-size: 0.36rem;
}
.context-title {
  display: inline-block;
  width: 2.48rem;
  height: 0.72rem;
  color: #f2f2f2;
  border-radius: 10px;
  background-color: #c7b299;
  text-align: center;
}
.context-title p {
  margin-top: 0.1rem;
}
.context-line {
  display: inline-block;
  height: 1px;
  border-bottom: solid 1px #c7b299;
  width: 8.76rem;
  position: absolute;
  top: 0.36rem;
  left: 2.58rem;
}
.context-safety-desc{
  width: 10.26rem;
  margin: 0.78rem auto 0.21rem auto;
}
.context-safety-desc>p{
  font-size: 0.36rem;
  line-height: 0.54rem;
  margin: 0px;
  padding: 0px;
  color: #989898;
}
.context-safety-desc-img{
  margin:  0 auto 2.13rem auto;
  width: 8.46rem;
}
.context-safety-desc-img>img{
  width: 100%;
}