html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  
  background-color: #f0f0f0;
}
.context{
  overflow: hidden;
  
}
.context-message {
  margin-top: 0.84rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-title {
  display: inline-block;
  width: 2.48rem;
  height: 0.72rem;
  color: #f2f2f2;
  border-radius: 10px;
  background-color: #c7b299;
  text-align: center;
  font-size: 0.42rem;
  position: absolute;
}
.context-title p {
  margin-top: 0.1rem;
}
.context-line {
  position: absolute;
  display: inline-block;
  height: 1px;
  border-bottom: solid 1px #c7b299;
  width: 8.76rem;
  top: 0.36rem;
  left: 2.58rem;
}
.content-main{
  width: 100%;
  overflow: hidden;
}
.card{
  width: 3.21rem;
  height: 4.23rem;
  background: url("../image/fx_21.png");
  background-size: contain;
  position: relative;
}
.card-title{
  position: absolute;
  left: 0.5rem;
  top: 1.11rem;
  width: 2.22rem;
  height: 0.9rem;
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
}
.card-title>p{
  margin: 0px;
  padding: 0px;
}
.card-icon{
  position: absolute;
  bottom: 0.54rem;
  right: 0.33rem;
  width: 0.99rem;
  height: 0.99rem;
}
.card-icon>img{
  width: 100%
}
.title{
  font-size: 0.32rem;
  color: #989898;
  height: 0.32rem;
  text-align: center;
  width: 3.21rem;
  line-height: 0.32rem;
  margin-top: 0.06rem;
}
article{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0.21rem;
 
}
section{
  flex:  0 0 50%;
  height: 4.63rem;
  margin-top: 1.05rem;
}
article>section:nth-child(even)>.card{
  margin-left: 1.14rem;
  margin-right: 1.86rem;
}
article>section:nth-child(odd)>.card{
  margin-left: 1.86rem;
  margin-right: 1.14rem;
}
article>section:nth-child(even)>.title{
  margin-left: 1.14rem;
}
article>section:nth-child(odd)>.title{
  margin-left: 1.86rem;
}
@media screen and (min-width:320px) and (max-width:375px){
   
  .card-title {
    position: absolute;
    left: 0;
    top: 1.11rem;
    width: 100%;
    height: 0.9rem;
    font-size: 0.36rem;
    color: #656565;
    text-align: center;
    }
 }