html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
 background-color: #f0f0f0;
}
.card{
  margin-top: 0.48rem;
  width: 100%;
  height: 6.66rem;
 /* background: url(../image/cp_5.png) no-repeat;
  background-size: contain;*/
  position: relative;
  overflow: hidden;
  z-index: 5;
}
.card>div:nth-child(1){
  margin: 1.29rem auto 0 auto;
  font-size: 0.36rem;
  line-height: 0.36rem;
  height: 0.36rem;
  text-align: center;
  color: #989898;
}
.card>div:nth-child(2){
  margin: 0.6rem auto 0 auto;
  line-height: 0.9rem;
  height: 0.9rem;
  text-align: center;
  color: #988675;
  font-weight: 100;
  font-size: 0.9rem;
}
.card-bottom{
  margin-top: 1.56rem;
  display: flex;
  height: 1.12rem;
}
.card-bottom-l {
  height: 1.12rem;
  color: #998675;
  flex: 1;
  font-size: 0.54rem;
  text-align: left;
  border-right: solid 1px #f2f2f2;
}
.card-bottom-l>div:nth-child(1) {
  width: 4.22rem;
  margin-left: 1.44rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #989898;
}
.card-bottom-l>div:nth-child(2) {
  margin-top: 0.18rem;
  width: 4.22rem;
  margin-left: 1.44rem;
  font-size: 0.58rem;
  height: 0.58rem;
  line-height: 0.58rem;
  color: #998675;
}
.card-bottom-r {
  flex: 1;
  font-size: 0.54rem;
  text-align: left;
}
.card-bottom-r>div:nth-child(1){
  margin-left: 0.49rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #989898;
}
.card-bottom-r>div:nth-child(2){
  margin-left: 0.49rem;
  margin-top: 0.18rem;
  font-size: 0.58rem;
  height: 0.58rem;
  line-height: 0.58rem;
  color: #ff3a49;
}
.context{
  width: 100%;
  height: 5.22rem;
  margin-top: 0.54rem;
  font-size: 0.36rem;
/*  background: url(../image/cp_7.png) no-repeat;
  background-size: contain;*/
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.context>div:nth-child(1){
    line-height: 100%;
    font-size: 0.36rem;
    margin-top: 0.64rem;
    height: 0.36rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #989898;
}
/* .context>input:nth-child(2){
   width: 9.98rem;
    margin: 0.27rem auto 0 auto;
    height: 1.14rem;
    border: none;
    display: block;
    text-align: center;
    background-color: #f2f2f2;
    outline: none;
    font-size: 0.54rem;
} */
.context-input{
  width: 9.98rem;
  margin: 0.27rem auto 0 auto;
  height: 1.14rem;
  border:none;
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.54rem;
  position: relative;
}
.context-input-text{
  width: 6.98rem;
  margin: 0 auto 0 auto;
  height: 1.14rem;
  border:none;
  display: block;
  text-align: left;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.54rem;
  padding: 0 0 0 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.context-input-lable{
  width: 5.98rem;
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
 
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  
  color:#c3c3c3;
  font-size: 0.54rem;
  font-weight: 100;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.context>div:nth-child(3){
  position: absolute;
  left: 1.71rem;
  top:3.25rem;
  font-size: 0.42rem;
  height: 0.42rem;
  line-height: 0.42rem;
  color: #989898;
}
.context>div:nth-child(4){
  position: absolute;
  right: 1.2rem;
  top:3.04rem;
  width: 2.16rem;
  height: 0.84rem;
}
.context>div:nth-child(4)>button{
  width: 2.16rem;
  height: 0.84rem;
  color: #fff;
  font-size: 0.42rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 100;
  background: -webkit-linear-gradient(left,#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left,#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left,#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
  background: linear-gradient(left,#ff6a55, #ee1e27); /* 标准的语法 */
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.footer{
 margin-top: 4.38rem;
 overflow: hidden;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
.foot-touch{
  font-size: 0.36rem;
  margin-top: 0.87rem;
  text-align: center;
  color: #989898;
  height: 0.36rem;
}
.foot-title{
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
  margin-top: 0rem;
  margin-bottom: 0.3rem;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
a:active {
  color:#3b92f0;
  text-decoration:none;
}
a:hover {
  color:#3b92f0;
  text-decoration:none;
}
a:focus {
  color:#3b92f0;
  text-decoration:none;
}
a:visited {
  color:#3b92f0;
  text-decoration:none;
}
.foot-content{
  height: 2.1rem;
  overflow: hidden;
  margin: 0.3rem auto 0 auto;
  width: 11.34rem;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.foot-content-btn{
  height: 1.5rem;
  margin-top: 0.3rem;
  width: 100%;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 100;
  background: -webkit-linear-gradient(#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
  background: linear-gradient(#ff6a55, #ee1e27); /* 标准的语法 */
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

button:active{
  opacity: 0.7;
}
a:link { 
  color:#3b92f0;
  text-decoration:none;
  }
  .toast{
    background: rgba(0, 0, 0, 0.6);
    color: rgb(255, 255, 255);
    border-radius: 0.1rem;
    font-size: 0.36rem;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 3rem;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    /* transition: opacity 2s; */
  }
.modal{
  position: absolute;
  /*height: 100%;*/
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  /* bottom: 0;
   right: 0;*/
  background: rgba(222,222,222,0.7);

}
.modal>article{
  width: 8.24rem;
  padding-left: 0.54rem;
  padding-right: 0.54rem;
  margin: 0.54rem auto 1.08rem auto;
  overflow: hidden;
  background: #f0f0f0;
}
.modal .title{
  margin: 0.57rem 0 0 0;
  font-size: 0.36rem;
  font-weight: bold;
  color: #656565;
  line-height: 0.54rem;
  /*  height: 0.36rem; */
}
.modal .desc{
  font-size: 0.36rem;
  line-height: 0.54rem;
  margin: 0.09rem 0 0 0;
  color: #989898;
  text-align: justify;
  word-break: break-all;
}
.modal .desc_right{
  text-align: right
}
.modal .main-title{
  margin: 0.9rem 0 0 0;
  color: #656565;
  line-height: 0.42rem;
  height: 0.42rem;
  font-size: 0.42rem;
  font-weight: bold;
  text-align: center;
}
.modal table{
  width: 100%;
  border-left: 1px solid #989898;
  border-top: 1px solid #989898;
  color: #656565;
  text-align: center;
}
.modal th{
  border-right: 1px solid #989898;
  border-bottom: 1px solid #989898;
  font-size: 0.36rem;
}
.modal .borrowShow span{
  min-width: 100px;
  display: inline-block;
  border-bottom: solid 1px #989898;
  text-align: center;
  line-height: 0.54rem;
  height: 0.54rem;
  /* vertical-align: text-bottom; */
}
.modal td{
  border-right: 1px solid #989898;
  border-bottom: 1px solid #989898;
  font-size: 0.36rem;
}
.modal .desc_bottom{
  margin-bottom: 0.9rem;
}
