html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f0f0f0;
}

/* @font-face{
  font-family: 'PingFangSC-Regular';
  src : url('../font/PingFang-Jian-ChangGuiTi-2.ttf');
}
*{
  font-family: PingFangSC-Regular, sans-serif;
} */
/* *{
  font-family:"Microsoft YaHei"
} */
/* *{
  font-family:"SimSun"
} */
#top .card{
  margin-top: 0.48rem;
  width: 100%;
  height: 6.66rem;
  background: url(../image/cp_5.png) no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
#top .card>div:nth-child(1){
  color:#989898;
  position: absolute;
  font-size: 0.36rem;
  left:3.12rem;
  top:1.12rem;
  line-height: 0.36rem;
  height: 0.36rem;
  /* width: 1.44rem; */
}
#top .card>div:nth-child(2){
 
  position: absolute;
  background: url(../image/sy_21.png) no-repeat;
  background-size: contain;
  left:8.19rem;
  top:1.12rem;
  width: 1.47rem;
  height: 0.51rem;
  
}
#top .card>div:nth-child(3){
  text-align: center;
  height: 0.9rem;
  margin-top: 1.93rem;
  color: #998675;
  line-height: 0.9rem;
}
.card-font-1{
  color:#988675;
  font-weight: 100;
  font-size: 0.9rem;
 /*  vertical-align: text-bottom; */
}
.card-font-2{
  color:#988675;
  font-weight: 100;
  font-size: 0.45rem;
  /* vertical-align: text-bottom; */
}
.card-font-3{
  color:#ff3a49;
  font-weight: 100;
  font-size: 1.2rem;
 /*  vertical-align: text-bottom; */
}
.card-font-4{
  color:#ff3a49;
  font-weight: 100;
  font-size: 0.45rem;
 /*  vertical-align: text-bottom; */
}
#top .card>div:nth-child(4){
  text-align: center;
  font-size: 0.36rem;
  color: #998675;
  line-height: 100%;
  height: 0.36rem;
  margin-top: 0.27rem;
}
#top .card-bottom{
  display: flex;
  margin-top: 1.17rem;
}
#top  .card-bottom-l{
  color: #998675;
  flex: 1;
  font-size: 0.54rem;
  text-align: center;
  border-right:solid 1px #f2f2f2; 
}
#top .card-bottom-l div{
  margin-top: 0.36rem;
  width: 4.2rem;
 margin-left: 1.44rem;
}
#top .card-bottom-r{
  flex: 1;
  font-size: 0.54rem;
  text-align: left;
}
#top  .card-bottom-r div div:nth-child(1){
  margin-left:0.56rem; 
  font-size: 0.36rem;
  height: 0.36rem;
  
  color: #989898;
}
#top  .card-bottom-r div div:nth-child(2){
  margin-left:0.56rem; 
  margin-top: 0.18rem;
  font-size: 0.58rem;
  font-weight: 100;
  color:#998675;
}
#top .table{
  width: 7.26rem;
  height: 0.66rem;
  margin: 0.51rem auto;
  background: url(../image/cp_6.png) no-repeat;
  background-size: contain;
}
#top  .table-desc{
  width: 100%;
  height: 0.9rem;
  margin-top: 0.3rem;
  /* position: relative; */
  overflow: hidden;
}
#top .table-desc>div:nth-child(1){
  
 position: absolute;
 left: 2.16rem;
 font-size: 0.36rem;
 /* width: 1.53rem; */
}
#top .table-desc>div:nth-child(2){
  position: absolute;
 left: 5.43rem;
 font-size: 0.36rem;
 /* width: 1.53rem; */
}
#top .table-desc>div:nth-child(3){
  position: absolute;
 right:2.16rem ;
 font-size: 0.36rem;
 /* width: 1.53rem; */
 
}

#top .context{
  width: 100%;
  height: 5.22rem;
  margin-top: 0.54rem;
  font-size: 0.36rem;
  background: url(../image/cp_7.png) no-repeat;
  background-size: contain;
  overflow: hidden;
  position: relative;
}
#top .context-title{
  line-height: 100%;
  font-size: 0.36rem;
  margin-top: 0.64rem;
  height: 0.36rem;
  margin-left: auto;
  margin-right:auto; 
  text-align: center;
  color: #989898;
}
#top .context-input{
  width: 9.98rem;
  margin: 0.27rem auto 0 auto;
  height: 1.14rem;
  border:none;
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.54rem;
  position: relative;
}
.context-input-text{
  width: 6.98rem;
  margin: 0 auto 0 auto;
  height: 1.14rem;
  border:none;
  display: block;
  text-align: left;
  background-color: #f2f2f2;
  outline: none;
  font-size: 0.54rem;
  padding: 0 0 0 0;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.context-input-lable{
  width: 5.98rem;
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
 
  display: block;
  text-align: center;
  background-color: #f2f2f2;
  
  color:#c3c3c3;
  font-size: 0.54rem;
  font-weight: 100;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#top .context>div:nth-child(3){
 /*  overflow: hidden; */
 height: 1.08rem;
}
#top .context>div:nth-child(3)>div:nth-child(1){
  display: inline-block;
  /* position: absolute; */
  margin-left: 2.64rem;
  margin-top: 0.48rem;
  font-size: 0.54rem;
  height: 0.54rem;
  line-height: 100%;
  color: #998675;
  vertical-align: super;
}
#top .context>div:nth-child(3)>div:nth-child(2){
  display: inline-block;
  margin-left: 1.2rem;
    margin-top: 0.48rem;
    font-weight: 100;
    font-size: 0.72rem;
    height: 0.72rem;
    line-height: 100%;
    color: #ff3a49;
    width: 4.5rem;
    text-align: right;
}
#top .context>div:nth-child(4){
  text-align: center;
  margin: 0.4rem auto 0 auto;
  font-size: 0.36rem;
  color: #989898;
  line-height: 100%;
  height: 0.36rem;
}
.top-footer{
  /* width: 100%;
  position:absolute;
  bottom: 0rem;
  left: 0rem;
  background-color: #f2f2f2; */
}
#top .foot-touch{
  font-size: 0.36rem;
  margin-top: 0.87rem;
  text-align: center;
  color: #989898;
  height: 0.36rem;
}
#top .foot-title{
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}
#top .foot-content{
  height: 2.1rem;
  overflow: hidden;
  margin: 0.3rem auto 0 auto;
  width: 11.34rem;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
#top .foot-content-btn{
  height: 1.5rem;
  margin-top: 0.3rem;
  width: 100%;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 100;
  background: -webkit-linear-gradient(#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
  background: linear-gradient(#ff6a55, #ee1e27); /* 标准的语法 */
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

.foot-content-btn:active{
  opacity: 0.7;
}
a:link { 
  color:#3b92f0;
  text-decoration:none;
  }
  input::-webkit-input-placeholder{
      color:#c3c3c3;
      font-size: 0.54rem;
      font-weight: 100;
  }
  input::-moz-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-moz-placeholder{    
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-ms-input-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  .font1{
  color:#656565;
  font-weight: bold;
}
.font2{
  color:#989898;
  font-weight: 100;
}
.font3{
  color: #ff3a49;
}
.font4{
  font-size: 0.45rem;
}

html,body{
padding: 0px;
margin: 0px;
width: 100%;
/* height: 100%; */
background-color: #f2f2f2;;
}
header{
width: 100%;
height: 1.46rem;
margin: 0 auto;
display: flex;
border-bottom: solid 1px #c7b299;
}
.head-content{
width: 11.34rem;
height: 1.46rem;
margin: 0 auto;
display: flex;
}
.head-content-item{
flex: 1;
text-align: center;
height: 1.40rem;
line-height: 1.40rem;
color: #656565;
font-size: 0.42rem;
}
/* .head-content-item:hover{
color:red
} */
.head-content-item_choose{
border-bottom: solid 2px #c7b299;
color: #c7b299;
}
#choose1 .context{
font-size: 0.36rem;
color: #989898;
}
#choose1 .context-desc{
margin-top: 0.66rem;
margin-left: 1.08rem;
line-height: 0.18rem;
}
#choose1 .context-safety{
margin-top: 0.75rem;
margin-left: 0.54rem;
position: relative;
height: 0.72rem;
}
#choose1 .context-safety-desc{
margin-top: 0.66rem;



}
#choose1 .context-safety-desc div{
display: inline-block;
width: 1.5rem;
}
#choose1 .context-safety-desc img{

width: 100%;
}
#choose1 .context-safety-desc div:nth-child(1){
margin-left: 1.89rem;
}
#choose1 .context-safety-desc div:nth-child(2){
margin-left: 2.07rem;
}
#choose1 .context-safety-desc div:nth-child(3){
margin-left: 2.07rem;
}
#choose1 .context-serve{
margin-top: 0.78rem;
margin-left: 0.54rem;
position: relative;
height: 0.72rem;
}
#choose1 .context-serve-desc{
margin-top: 0.66rem;
margin-left: 1.08rem;
margin-right: 1.08rem;

}
#choose1 .context-advanced{
margin-top: 0.84rem;
margin-left: 0.54rem;
position: relative;
height: 0.72rem;
}
#choose1 .context-advanced-desc{
margin-top: 0.66rem;
margin-left: 1.08rem;
margin-right: 1.08rem;
}
#choose1 .context-theory{
margin-top: 0.84rem;
margin-left: 0.54rem;
position: relative;
height: 0.72rem;
}
#choose1 .context-theory-desc{

margin-left: 1.08rem;
margin-right: 1.08rem;
}
#choose1 .context-theory-desc img{
margin-top: 1.02rem;
width: 8.16rem;
height: 4.44rem;
margin-left: auto;
margin-right: auto;
}
#choose1 .context-title{
display: inline-block;;
width: 2.48rem;
height: 0.72rem;
color: #f2f2f2;

border-radius: 10px;
background-color: #c7b299;
text-align: center;

}
#choose1 .context-line{
display: inline-block;

height: 1px;
border-bottom: solid 1px #c7b299;
width: 8.76rem;
position: absolute;
top: 0.36rem;
left: 2.58rem;
}
#choose1 .context-title p{
margin-top: 0.1rem;

}
#choose2 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
height: 0.36rem;
line-height: 0.36rem;
}
#choose2 td{
padding: 0px;
}
#choose2 .context-table{
width: 11.34rem;
margin: 0 auto;
background-color: #ffffff;
color: #989898;
font-size: 0.42rem;
text-align: center;
border-collapse: collapse;

}
#choose2 th{
color: #998675; 
font-weight: normal;
}
#choose2 tr{
height: 1.35rem;
border-bottom: solid 1px #f2f2f2;
}
#choose2 tr>td:nth-child(1){
width: 3rem;
}
#choose2 tr>td:nth-child(2){
width: 2.79rem;
}
#choose2 tr>td:nth-child(3){
width: 3.51rem;
}
.head-content-item_choose{
border-bottom: solid 2px #c7b299;
}
#choose3 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
}
#choose3 td{
padding: 0px;
}
#choose3 .context-table{
width: 11.34rem;
margin: 0 auto;
background-color: #ffffff;
color: #989898;
font-size: 0.42rem;
text-align: center;
border-collapse: collapse;

}
#choose3 th{
color: #998675; 
font-weight: normal;
}
#choose3 tr{
height: 1.35rem;
border-bottom: solid 2px #f2f2f2;
}
#choose3 tr>td:nth-child(1){
width: 3rem;
}
#choose3 tr>td:nth-child(2){
width: 3.18rem;
}
#choose3 tr>td:nth-child(3){
width: 2.31rem;
}
#choose3 tr>td:nth-child(4){
width: 2.85rem;
}
.foot-title{
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
  margin-top: 0.9rem;
  margin-bottom: 0.3rem;
  font-weight: 100;
  height: 0.36rem;
  line-height: 0.36rem;
}
.foot-content{
height: 2.1rem;
overflow: hidden;
margin: 0.3rem auto;
width: 11.34rem;
-moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.foot-content-btn{
  font-weight: 100;
height: 1.5rem;
width: 100%;
color: #fff;
font-size: 0.5rem;
text-align: center;
border: none;
outline: none;
border-radius: 5px;
background: -webkit-linear-gradient(#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
background: linear-gradient(#ff6a55, #ee1e27); /* 标准的语法 */
-moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
btn:hover{
border: none;
outline: none;
}

a:link { 
color:#3b92f0;
text-decoration:none;
}
.wrapper{
  width: 100%;
  position:absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1;
}
.content{
  height:100%;
}
.wrappers{
  
  height: 14.85rem;
  overflow: hidden;
 
}
.contents{
  height: 14.85rem;
  overflow: hidden;
}
.clickable{
  color: #656565 !important;
  background: #c3c3c3 !important;
}
.wrapperss{
  
  overflow: hidden;
  height:14.85rem;
}
.contentss{
  height: 14.85rem;
  overflow: hidden;
}
.toast{
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  font-size: 0.36rem;
  height: 0.5rem;
  z-index: 1;
  line-height: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  bottom: 3.6rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  /* transition: opacity 2s; */
}