html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f0f0f0;
}

/* @font-face{
  font-family: 'PingFangSC-Regular';
  src : url('../font/PingFang-Jian-ChangGuiTi-2.ttf');
}
*{
  font-family: PingFangSC-Regular, sans-serif;
} */
.banner{
  width: 100%;
  height: 10.29rem;
}
.show-detail {
  height: 10.29rem;
  /* width: 100%; */
  background-color: #e5c8c8;

}
.desc{
  overflow: hidden;
  margin-top: 0.09rem;
  height: 5.81rem;
  background-color: #fff;
}
.desc>div:nth-child(1){
  width: 10.5rem;
  margin: 0.27rem auto 0 auto;
  height: 0.56rem;
  font-size: 0.54rem;
  font-weight:bold;
  color: #656565;
  line-height: 0.56rem;
}
.desc>div:nth-child(2){
  width: 10.5rem;
  margin: 0.3rem auto 0 auto;
  height: 0.78rem;
  font-size: 0.36rem;
  color: #989898;
}
.desc>div:nth-child(3){
  margin: 0.21rem auto 0 auto;
  width: 10.5rem;
  height: 0.72rem;
  position: relative;
}
.desc>div:nth-child(3)>div:nth-child(1){
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 0.42rem;
  font-size: 0.42rem;
  line-height: 0.42rem;
  color: #989898;
  width: 4.02rem;
}
.desc>div:nth-child(3)>div:nth-child(2){
  position: absolute;
  right: 0rem;
  bottom: 0px;
  height: 0.72rem;
  font-size:0.8rem;
  line-height: 0.72rem;
  color: #ff3a49;
  /* width: 4.02rem; */
  text-align: right;
  font-weight: 100;
  letter-spacing: -1px;
}
.desc>div:nth-child(4){
  margin: 0.57rem auto 0 auto;
  width: 10.5rem;
  height: 0.42rem;
  position: relative;
}
.desc>div:nth-child(4)>div:nth-child(1){
  left: 0px;
  bottom: 0px;
  height: 0.42rem;
  font-size: 0.42rem;
  color: #989898;
  line-height: 0.42rem;
  position: absolute;
  width: 4.02rem;
}
.desc>div:nth-child(4)>div:nth-child(2){
  right: 0px;
  bottom: 0px;
  height: 0.42rem;
  font-size: 0.42rem;
  color: #989898;
  line-height: 0.42rem;
  position: absolute;
  width: 4.8rem;
  text-align: right;
}
.desc>div:nth-child(5){
  margin: 0.63rem auto 0 auto;
  width: 10.5rem;
  height: 1.05rem;
  position: relative;
}
.icon-freight{
  width: 1.05rem;
  height: 1.05rem;
 /*  background: url("../image/fx_16.png"); */
 /*  background-size: contain; */
}
.icon-sale{
  width: 1.05rem;
  height: 1.05rem;
  /* background: url("../image/fx_18.png"); */
  /* background-size: contain; */
}
.icon-week{
  width: 1.05rem;
  height: 1.05rem;
  /* background: url("../image/fx_17.png"); */
  /* background-size: contain; */
}
.desc>div:nth-child(5)>div:nth-child(1){
 position: absolute;
 left: 0px;
 bottom: 0px;
 width: 1.05rem;
 height: 1.05rem;
}
.desc>div:nth-child(5)>div:nth-child(2){
  position: absolute;
  left: 1.23rem;
  bottom: 0.345rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
 }
 .desc>div:nth-child(5)>div:nth-child(3){
  position: absolute;
  left: 3.07rem;
  bottom: 0px;
  width: 1.05rem;
  height: 1.05rem;
 }
 .desc>div:nth-child(5)>div:nth-child(4){
  position: absolute;
  left: 4.30rem;
  bottom: 0.345rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
 }
 .desc>div:nth-child(5)>div:nth-child(5){
  position: absolute;
  left: 6.43rem;
  bottom: 0px;
  width: 1.05rem;
  height: 1.05rem;
 }
 .desc>div:nth-child(5)>div:nth-child(6){
  position: absolute;
  right: 0px;
  bottom: 0.345rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
 }
 header {
  width: 100%;
  height: 1.5rem;
  margin: 0 auto;
  display: flex;
  border-bottom: solid 1px #c7b299;
}
.head-content{
  width: 11.34rem;
  height: 1.5rem;
  margin: 0 auto;
  display: flex
}
.head-content-item{
  flex: 1;
  text-align: center;
  height: 1.47rem;
  line-height: 1.47rem;
  color: #656565;
  font-size: 0.42rem;
}
.head-content-item_choose{
    border-bottom: solid 2px #c7b299;
    color: #c7b299;
}
footer{
  display: flex;
  height: 1.86rem;
  background-color: #fff;
}
footer>div{
  flex: 1;
  height: 1.68rem;
}
footer>div:nth-child(1){
  position: relative;
  font-size: 0.36rem;
}
footer>div:nth-child(1)>div:nth-child(1){
 margin-top:0.33rem ;
 margin-left: 0.78rem;
 height: 0.36rem;
 line-height: 0.36rem;
}
footer>div:nth-child(1)>div:nth-child(2){
  margin-top:0.18rem ;
  margin-left: 0.78rem;
  height: 0.54rem;
  position: relative;
}
.show-detail >img{
  width: 100%;
}
.font1{
  color: #989898;
}
.font2{
  color: #3b92f0;
}
footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(1){
  position: absolute;
  left: 0px;
  bottom: 0.04rem;
  color: #989898;
  /* width: 0.99rem; */
}
footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(2){
  position: absolute;
  left: 1.38rem;
  bottom: 0.00rem;
  width: 0.6rem;
  height: 0.54rem;
  background-color: #c3c3c3;
  text-align: center;
  color: #ffffff;
  border-radius: 0.04rem;
}
footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(3){
  position: absolute;
  /* bottom: 0.04rem; */
  left:1.98rem;
  width: 0.75rem;
  height: 0.54rem;
  text-align: center;
  color: #989898;
  
}
footer>div:nth-child(1)>div:nth-child(2)>div:nth-child(4){
  position: absolute;
  bottom: 0.00rem;
  left:2.71rem;
  width: 0.6rem;
  height: 0.54rem;
  background-color: #c3c3c3;
  text-align: center;
  color: #ffffff;
  border-radius: 0.04rem;
}
footer>div:nth-child(2){
  position: relative;
}
footer button{
  font-weight: 100;
  position: absolute;
  right: 0.68rem;
  
  margin-top: 0.33rem;
  /* width: 100%; */
  width: 5.63rem;
  height: 1.09rem;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 0.5rem;;
  background: -webkit-linear-gradient(left,#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(left,#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(left,#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
  background: linear-gradient(left,#ff6a55, #ee1e27); /* 标准的语法 */
}
#choose1>div:nth-child(1){
  width: 100%;
}
#choose1>div:nth-child(1)>img{
  width: 100%;
}
#choose2>div:nth-child(1){
  width: 2.7rem;
  height: 0.36rem;
  line-height: 100%;
  font-size: 0.36rem;
  color: #989898;
  margin: 0.88rem auto 0.72rem auto;
}
#choose2 td{
  padding: 0px;
  }
 .context-table{
  width: 11.34rem;
  margin: 0 auto;
  background-color: #ffffff;
  color: #989898;
  font-size: 0.42rem;
  text-align: center;
  border-collapse: collapse;
  
  }
 
  #choose2>table tr:nth-child(1){
    color: #998675;
  }
 
  #choose2 tr{
  height: 1.35rem;
  border-bottom: solid 1px #f2f2f2;
  }
  #choose2 tr>td:nth-child(1){
  width: 3.54rem;
  }
  #choose2 tr>td:nth-child(2){
  width: 3.6rem;
  }
  #choose2 tr>td:nth-child(3){
  width: 4.2rem;
  }
 
  .mybanner-bullet{
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #b3b3b3;
    margin: 0 4px;
    /* opacity: .2; */
  }
  .mybanner-bullet-active{
   /*  opacity: 1; */
    background: #998675;
  }