html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f2f2f2;;
}
#top .card{
  margin-top: 0.48rem;
  width: 100%;
  height: 6.66rem;
  background: url(../image/cp_5.png) no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
#top .card>div:nth-child(1){
 
  position: absolute;
  background: url(../image/cp_cheaa.png) no-repeat;
  background-size: contain;
  left:0.9rem;
  top:0.6rem;
  width: 1.26rem;
  height: 0.51rem;
}
#top .card>div:nth-child(2){
  color:#656565;
  position: absolute;
  font-size: 0.42rem;
  left:2.58rem;
  top:0.66rem;
  width: 4.5rem;
  height: 0.42rem;
  
}
#top .card>div:nth-child(3){
  position: absolute;
  height: 0.72rem;
  right: 1.8rem;
  font-size: 0.36rem;
  color: #998675;
  font-weight: bold;
  top: 0.72rem;
}

#top .card>div:nth-child(4){
  position: absolute;
  left: 4.77rem;
  top: 1.47rem;
  width: 2.82rem;
  font-size: 0.78rem;
}
#top .card>div:nth-child(5){
  position: absolute;
  top: 1.89rem;
  right: 3.09rem;
  font-size: 0.36rem;

}
#top .card>div:nth-child(6){
  position: absolute;
  top: 2.61rem;
  left: 1.26rem;
  height: 0.36rem;
  width: 9.90rem;
  border-radius: 5px;
  background-color: #f3f3f3;
}
#top .card>div:nth-child(7){
  position: absolute;
  left: 2.44rem;
  top: 3.24rem;
  font-size: 0.36rem;
  color: #998675
}
#top .card>div:nth-child(8){
  position: absolute;
  top: 3.24rem;
  right: 2.42rem;
  color: #ff3a49;
  font-size: 0.42rem
}
#top .card-bottom{
  display: flex;
  margin-top: 4.35rem;
}
#top  .card-bottom-l{
  color: #998675;
  flex: 1;
  font-size: 0.54rem;
  text-align: center;
  border-right:solid 1px #f2f2f2; 
}
#top .card-bottom-l div{
 width: 4.2rem;
 margin-left: 1.44rem;
}
#top .card-bottom-r{
  flex: 1;
  font-size: 0.54rem;
  text-align: left;
}
#top  .card-bottom-r div div:nth-child(1){
  margin-left:0.56rem; 
  font-size: 0.36rem;
  height: 0.36rem;

  color: #989898;
}
#top  .card-bottom-r div div:nth-child(2){
  margin-left:0.56rem; 
  margin-top: 0.18rem;
  font-size: 0.58rem;
  color:#998675;
}
#top .table{
  width: 7.26rem;
  height: 0.66rem;
  margin: 0.51rem auto;
  background: url(../image/cp_6.png) no-repeat;
  background-size: contain;
}
#top  .table-desc{
  width: 100%;
  height: 0.9rem;
  margin-top: 0.3rem;
  position: relative;
  overflow: hidden;
}
#top .table-desc>div:nth-child(1){
  
 position: absolute;
 left: 2.16rem;
 font-size: 0.36rem;
 width: 1.53rem;
}
#top .table-desc>div:nth-child(2){
  position: absolute;
 left: 5.43rem;
 font-size: 0.36rem;
 width: 1.53rem;
}
#top .table-desc>div:nth-child(3){
  position: absolute;
 right:2.16rem ;
 font-size: 0.36rem;
 width: 1.53rem;
 
}

#top .context{
  width: 100%;
  margin-top: 0.72rem;
  font-size: 0.36rem;
  color: #989898;
}
#top .context ul{
  padding: 0px
}
#top .context ul li{
  list-style: none;
  position: relative;
  width: 100%;
  height: 0.36rem;
  margin-bottom: 0.18rem;
}
#top .context ul li p:nth-child(1){
  left: 1.08rem;
  position: absolute;
}
#top .context ul li p:nth-child(2){
  right: 1.08rem;
  position: absolute;
}

#top .foot-touch{
  font-size: 0.36rem;
  margin-top: 0.87rem;
  text-align: center;
  color: #989898;
}
#top .foot-title{
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}
#top .foot-content{
  height: 2.1rem;
  overflow: hidden;
  margin: 0.3rem auto;
  width: 11.34rem;
}
#top .foot-content-btn{
  height: 1.5rem;
  width: 100%;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  background: -webkit-linear-gradient(#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
  background: linear-gradient(#ff6a55, #ee1e27); /* 标准的语法 */
}


a:link { 
  color:#3b92f0;
  text-decoration:none;
  }
  input::-webkit-input-placeholder{
      color:#c3c3c3;
      font-size: 0.54rem;
  }
  input::-moz-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-moz-placeholder{    
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-ms-input-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  .font1{
  color:#656565;
  font-weight: bold;
}
.font2{
  color:#989898;
}
.font3{
  color: #ff3a49;
}
.font4{
  font-size: 0.45rem;
}

#bottom header{
width: 100%;
height: 1.46rem;
margin: 0 auto;
display: flex;
border-bottom: solid 0.01rem #c7b299;
}
#bottom .head-content{
width: 11.34rem;
height: 1.46rem;
margin: 0 auto;
display: flex;
}
#bottom .head-content-item{
flex: 1;
text-align: center;
height: 1.40rem;
line-height: 1.40rem;
color: #656565;
font-size: 0.42rem;
}

#bottom .head-content-item_choose{
border-bottom: solid 2px #c7b299;
}
#choose1 .context{
font-size: 0.36rem;
color: #989898;
}

#choose1 .context-message{
margin-top: 0.78rem;
margin-left: 0.54rem;
}
#choose1 .context-message-desc{
  
position: relative;


}
#choose1 .context-message-desc div{
margin-top: 0.66rem;
margin-left: 1.08rem;
font-size: 0.36rem;
color: #656565;
font-weight: bold;
width: 3.87rem;

}
#choose1  ul{
margin-top: 0.21rem;
font-size: 0.36rem;
padding: 0px;
color: #989898;

}
#choose1  ul li{
margin-top: 0.18rem;
position: relative;
height: 0.36rem;
list-style:none
}
#choose1  ul li p:nth-child(1){
position: absolute;
left: 1.08rem;
top: 0px;

}
#choose1  ul li p:nth-child(2){
position: absolute;
right: 1.08rem;
top: 0px;

}
#choose1 .context-record{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
}
#choose1 .context-record-desc{
 

}
#choose1 .context-borrow{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
}
#choose1 .context-borrow-desc div {
  margin-top: 0.66rem;
  margin-left: 1.08rem;
  font-size: 0.36rem;
  color: #656565;
 
}
#choose1 .context-borrow-desc div span{
  color: #656565;
  font-weight: bold;
}
#choose1 .context-borrow-desc div p{
  color: #989898;
  line-height: 0.12rem;
}
#choose1 .context-audit{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
}
#choose1 .context-audit-desc{

}

#choose1 .context-title{
display: inline-block;;
width: 2.58rem;
height: 0.72rem;
color: #f2f2f2;

border-radius: 10px;
background-color: #c7b299;
text-align: center;

}
#choose1 .context-line{
display: inline-block;

height: 1px;
border-bottom: solid 1px #c7b299;
width: 8.76rem;

}
#choose1 .context-title p{
margin-top: 0.1rem;

}
#choose2 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
}
#choose2 td{
padding: 0px;
}
#choose2 .context-table{
width: 11.34rem;
margin: 0 auto;
background-color: #ffffff;
color: #989898;
font-size: 0.42rem;
text-align: center;
border-collapse: collapse;

}
#choose2 th{
color: #998675; 
}
#choose2 tr{
height: 1.35rem;
border-bottom: solid 0.02rem #f2f2f2;
}
#choose2 tr>td:nth-child(1){
width: 3.12rem;
}
#choose2 tr>td:nth-child(2){
width: 4.02rem;
}
#choose2 tr>td:nth-child(3){
width: 4.20rem;
}
.head-content-item_choose{
border-bottom: solid 2px #c7b299;
}
#choose3 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
}
#choose3 .card{
margin-top: 0.18rem;
width: 12.42rem;
height: 4.23rem;
background: url(../image/cp_12.png) no-repeat;
background-size: contain;
position: relative;
overflow: hidden; 
}
#choose3 .card:nth-child(1){
margin-top: 0.48rem;
width: 12.42rem;
height: 4.23rem;
background: url(../image/cp_12.png) no-repeat;
background-size: contain;
position: relative;
overflow: hidden; 
}
#choose3 .card div:nth-child(1){
position: absolute;
font-size: 0.48rem;
color: #998675;
top: 0.66rem;

left: 1.17rem;
height: 0.48rem;
}
#choose3 .card div:nth-child(2){
position: absolute;
font-weight: bold;
font-size: 0.48rem;
color: #998675;
top: 0.66rem;
right: 1.17rem;
height: 0.48rem;
}
#choose3 .card div:nth-child(3){
position: absolute;
font-size: 0.36rem;
color: #656565;
top: 1.8rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(4){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 1.8rem;
right: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(5){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 2.4rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(6){
position: absolute;
color: #656565;
font-size: 0.36rem;
top: 2.4rem;
right: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(7){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 3rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(8){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 3rem;
right: 1.17rem;
height: 0.36rem;
}

#choose3 .grayblock{
width: 5.13rem;
height: 5.13rem;
margin: 2.22rem auto 0 auto;
background-color: #c3c3c3
}  
#choose3 .grayblock-desc{
margin: 0.42rem auto;
width: 2.61rem;
font-size: 0.42rem;
color: #c3c3c3;
}
#bottom .foot-title{
font-size: 0.36rem;
color: #656565;
text-align: center;
margin-top: 0.9rem;
width: 10.1rem;;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.18rem;
}
#bottom .foot-title p:nth-child(2){

margin-top: 0.24rem;

}
#bottom .foot-content{
height: 2.1rem;
overflow: hidden;
margin: 0.3rem auto;
width: 11.34rem;
}
#bottom .foot-content-btn{
height: 1.5rem;
width: 100%;
color: #fff;
font-size: 0.5rem;
text-align: center;
border: none;
outline: none;
border-radius: 5px;
background: -webkit-linear-gradient(#ff6a55, #ee1e27); /* Safari 5.1 - 6.0 */
background: -o-linear-gradient(#ff6a55, #ee1e27); /* Opera 11.1 - 12.0 */
background: -moz-linear-gradient(#ff6a55, #ee1e27); /* Firefox 3.6 - 15 */
background: linear-gradient(#ff6a55, #ee1e27); /* 标准的语法 */
}
btn:hover{
border: none;
outline: none;
}

a:link { 
color:#3b92f0;
text-decoration:none;
}
.wrapper{
 /*  width: 100%;
  position:absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1; */
}
.content{
 /*  height:100%; */
}