html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f0f0f0;
}
#main{
  position: relative;
}
article{
  width: 10.26rem;
  margin: 0 auto 0 auto;
  overflow: hidden;
}
.m72{
  margin: 0.57rem 0 0.15rem 0;
}
.title{
  margin: 0.57rem 0 0.15rem 0;
  font-size: 0.36rem;
  font-weight: bold;
  color: #656565;
  line-height: 0.54rem;
 /*  height: 0.36rem; */
}
.item{
  display:flex
}
.item-l{
  flex:0 0 0.5rem;
  margin: 0 5px 0 0;
}
.item-r{
  display: inline-block;
    width: 90%;
    vertical-align: text-top;
}
.desc{
  font-size: 0.36rem;
  line-height: 0.54rem;
  margin: 0 0 0 0;
  color: #989898;
  text-align: justify;
    word-break: break-all;
}
input:checked{
  background-color: #4F4;
}
.desc_right{
  text-align: right
}
.main-title{
  margin: 0.9rem 0 0.66rem 0;
  color: #656565;
  line-height: 0.42rem;
  height: 0.42rem;
  font-size: 0.42rem;
  font-weight: bold;
  text-align: center;
}
table{
  width: 100%;
  border-left: 1px solid #989898;
  border-top: 1px solid #989898;
  color: #656565;
  text-align: center;
}
th{
  border-right: 1px solid #989898;
  border-bottom: 1px solid #989898;
  font-size: 0.36rem;
}
td{
  border-right: 1px solid #989898;
  border-bottom: 1px solid #989898;
  font-size: 0.36rem;
}
span{
  min-width: 100px;
  display: inline-block;
  border-bottom: solid 1px #989898;
  text-align: center;
  line-height: 0.54rem;
  height: 0.54rem;
  /* vertical-align: text-bottom; */
}
.foot-content {
  height: 2.1rem;
  overflow: hidden;
  margin: 0.3rem auto 1.0rem auto;
  width: 11.34rem;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.foot-content-btn {
  height: 1.5rem;
  margin-top: 0.3rem;
  width: 100%;
  color: #fff;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: 100;
  background: -webkit-linear-gradient(#ff6a55, #ee1e27);
  background: -o-linear-gradient(#ff6a55, #ee1e27);
  background: -moz-linear-gradient(#ff6a55, #ee1e27);
  background: linear-gradient(#ff6a55, #ee1e27);
  user-select: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.foot-content-btn:active {
  opacity: 0.7;
}
.toast{
  background: rgba(0, 0, 0, 0.6);
  color: rgb(255, 255, 255);
  border-radius: 0.1rem;
  font-size: 0.36rem;
  height: 0.5rem;
  z-index: 1;
  line-height: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  bottom: 3rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  
  /* transition: opacity 2s; */
}