html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f0f0f0;
}
.context{
  overflow: hidden;
}
header{
  background: url("../image/cp_4.png");
  background-size: contain;
  width: 100%;
  height: 3.72rem;
  display: flex;
  margin-top: 0.5rem;
}
header>div{
  flex: 1;
  height: 3.72rem;
}
header>div:nth-child(1)>div:nth-child(1){
 margin-top: 1.14rem;
 margin-left: 1.77rem;
 height: 0.36rem;
 font-size: 0.36rem;
 color: #989898;
 line-height: 0.36rem;
}
header>div:nth-child(1)>div:nth-child(2){
  margin-top: 0.48rem;
  margin-left: 1.77rem;
  height: 0.6rem;
  font-size: 0.6rem;
  color: #998675;
  line-height: 0.6rem;
  font-weight: 100;
}
header>div:nth-child(2)>div:nth-child(1){
  margin-top: 1.14rem;
  margin-left: 1.44rem;
  height: 0.36rem;
  font-size: 0.36rem;
  color: #989898;
  line-height: 0.36rem;
}
header>div:nth-child(2)>div:nth-child(2){
  margin-top: 0.48rem;
  margin-left: 1.44rem;
  height: 0.6rem;
  font-size: 0.6rem;
  color: #998675;
  line-height: 0.6rem;
  font-weight: 100;
}
.font1{
  font-size:0.36rem;
}
article{
  overflow: hidden;
  margin-top: 1.26rem;
}
.context-table {
  width: 11.34rem;
  margin: 0 auto 0 auto;
  background-color: #ffffff;
  color: #989898;
  font-size: 0.42rem;
  text-align: center;
  border-collapse: collapse;
}
tr {
  height: 1.35rem;
  border-bottom: solid 1px #f2f2f2;
}

th {
  color: #998675;
  font-size: 0.42rem;
}
td {
  padding: 0px;
}
tr>td:nth-child(1) {
  width: 3.78rem;
}
tr>td:nth-child(2) {
 width: 3.54rem;
}
tr>td:nth-child(3) {
 width: 4.02rem;
}
tr>th:nth-child(1) {
  width: 3.78rem;
}
tr>th:nth-child(2) {
 width: 3.54rem;
}
tr>th:nth-child(3) {
 width: 4.02rem;
}
.wrappers{
   /*  height: 14.85rem; */
    height: 13.5rem;
    overflow: hidden;
    /* background: #fff */;
    width: 11.34rem;
    margin: 0 auto 0 auto;
}
.contents{
  height: 13.5rem;
  /* height: 14.85rem; */
  overflow: hidden;
 /*  background: #fff; */
  width: 11.34rem;
  margin: 0 auto 0 auto;
}