html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f0f0f0;
}
.content{
 /*  overflow: hidden; */
  position: relative;
}
header{
  width: 100%;
  /* height: 10.8rem; */
}
header>img{
  width: 100%
}

article{
  position: absolute;
  z-index: 10;
  top:2.82rem ;
  width: 11.34rem;
  height: 7.89rem;
 /*  background: url("../image/cp_7.png");
  background-size: contain; */
  overflow: hidden;
  left: 0.54rem;
  background: #fff;
  border-radius: 0.23rem;
}
article>div{
  position: absolute;
  height: 4.47rem;
  width: 4.47rem;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
article>div>img{
  width: 100%;
}
footer{
  position: absolute;
  top: 11.79rem;
  width: 100%;
  text-align: center;
}
footer>div:nth-child(1){
  height: 0.48rem;
  line-height: 0.48rem;
  font-size: 0.48rem;
  color: #998675;
}
footer>div:nth-child(2){
  height: 0.36rem;
  /* line-height: 0.36rem; */
  font-size: 0.36rem;
  color: #989898;
  margin: 0.51rem auto;
  text-align: left;
  width: 10.26rem;
}
