html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f0f0f0;
}
.content{
  overflow: hidden;
  width: 100%
}
.content>img{
  width: 10.95rem;
  display: block;
  margin: 0.5rem auto 0 auto;
}