html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f0f0f0;
}
.content{
  overflow: hidden;
}
.context-message {
  margin-top: 0.84rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}

.context-title {

}
.context-title p {

}
.mt96{
  margin-top: 0.96rem;
}
.mt75{
  margin-top: 0.75rem;
}
.mt66{
  margin-top: 0.66rem;
}
.context-line {

}
.context-table {
  width: 10.74rem;
  color: #989898;
  /*font-size: 0.57rem;*/
  font-size: 0.32rem;
  text-align: left;
  border-collapse: collapse;
 /*  letter-spacing: -0.7px; */
}
tr {
  /*height: 0.57rem;*/
  /*  vertical-align: baseline; */
}
td{
  background-color: #ffffff;
  border-bottom: solid 1px #f2f2f2;
  vertical-align: text-bottom;
}
td>div{
  /* color: red;*/
  vertical-align:text-top;
  display:inline-block;

  line-height: 0.57rem;
}
.td>div:after{
  content:'';
  width:0;
  height:100%;
  display:inline-block;
  vertical-align:text-top;
}
.context-basic{
 /* margin-top: 0.75rem;*/

  
}
.context-basic-desc{
  margin-top: 0.66rem;
  margin-left: 0.84rem;
  margin-right: 0.84rem;
 /* width: 10.74rem;*/
}
.context-basic-desc>.context-table>tbody>tr>td:nth-child(1){
  width: 0.30rem;
}
.context-basic-desc>.context-table>tbody>tr>td:nth-child(3){
  width:  0.30rem;
}
.context-basic-desc>.context-table>tbody>tr>td:nth-child(2){
 width: 2.76rem;
}
.context-basic-desc>.context-table>tbody>tr>td:nth-child(4){
width: 7.38rem;
}
.context-experience{
  margin-top: 0.96rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-experience-desc{
  margin-top: 0.66rem;
  margin-left: 1.08rem;
  margin-right: 1.08rem;
 /* width: 10.26rem;*/
  font-size: 0.36rem;
  color: #989898;
  line-height: 0.54rem;
}
.context-platform{
  margin-top: 0.96rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-platform-desc{
  margin-top: 0.66rem;
  /*width: 10.74rem;*/
  margin-left: 0.84rem;
  margin-right: 0.84rem;
}
.v-baseline{
  vertical-align: baseline;
}
.context-platform-desc>.context-table>tbody>tr>td:nth-child(1){
  width: 0.30rem;
}
.context-platform-desc>.context-table>tbody>tr>td:nth-child(3){
  width: 0.30rem;
}
.context-platform-desc>.context-table>tbody>tr>td:nth-child(2){
  width: 3.03rem;
 }
 .context-platform-desc>.context-table>tbody>tr>td:nth-child(4){
  width: 7.11rem;
 }
 .context-organization{
  margin-top: 0.96rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-organization-desc{
  margin-top: 0.66rem;
  margin-left: auto;
  margin-right: auto;
  width: 10.92rem;
  height: 15.36rem;
  
}
.context-organization-desc>img{
  width: 100%;
}
.context-shareholder{
  margin-top: 0.66rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-shareholder-desc{
  margin-top: 0.66rem;
  margin-left: 1.08rem;
  margin-right: 1.08rem;
  font-size: 0.36rem;
  color:#989898;
 /* width: 10.26rem;*/
}
.card1>div:nth-child(1)>div:nth-child(1){
display: inline-block;
background: #ff3a49;
width: 0.51rem;
height: 0.36rem;
}
.card1>div:nth-child(1)>div:nth-child(2){
  display: inline-block;
}
.card1,.card2 p{
  line-height: 0.54rem;
  padding: 0px;
  margin: 0.18rem 0 0 0;
 
}
.card2{
  margin-top: 0.96rem;
  position: relative;
}
.card2>div:nth-child(1)>div:nth-child(1)>div:nth-child(1){
  display: inline-block;
  background: #f4bac3;
  width: 0.51rem;
  height: 0.36rem;
  }
  .card2>div:nth-child(1)>div:nth-child(1)>div:nth-child(2){
    display: inline-block;
  }
  .card2>div:nth-child(1){
   
    width: 6.42rem;
    margin: 0;
    padding: 0;
  }
  .card2>div:nth-child(2){
    position: absolute;
    top:1.26rem;
    right: 0;
    width: 3.78rem;
    height: 3.78rem;
    
  }
  .card2 img{
    width: 100%;
  }
  .context-employee{
    margin-top: 0.96rem;
    margin-left: 0.55rem;
    position: relative;
    height: 0.72rem;
  }
  .context-employee-desc{
    margin-top: 0.66rem;
    margin-bottom: 2.4rem;
    font-size: 0.36rem;
    color:#989898;
    width: 100%;
    display: flex;
  }
  .context-employee-desc>div{
    flex: 1;
  }
  .context-employee-desc-l>div:nth-child(1){
    margin-left: 1.44rem;
    height: 0.32rem;
    font-size: 0.32rem;
    line-height: 0.32rem;
  }
  .context-employee-desc-l>div:nth-child(2){
    margin-top: 0.57rem;
    margin-left: 2.7rem;
    width: 1.68rem;
    height: 0.87rem;
  }
  .context-employee-desc-l>div:nth-child(2)>img{
    width: 100%;
  }
  .context-employee-desc-l-bar{
    position: relative;
    margin-top: 0.6rem;
    width: 100%;
    height: 1.8rem;
  }
  .context-employee-desc-l-bar>div:nth-child(1){
    position: absolute;
    top: 0px;
    left: 1.56rem;
    width: 3.75rem;
    height: 1.8rem;
  }
  .context-employee-desc-l-bar img{
    width: 100%;
  }
  .context-employee-desc-l-bar>div:nth-child(2){
    position: absolute;
    top: 0.09rem;
    left: 0.72rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
    width: 0.84rem;
  /*   word-spacing: -2px; */
    /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-l-bar>div:nth-child(3){
    position: absolute;
    top: 0.78rem;
    left: 3rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
     width: 0.84rem;
     /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-l-bar>div:nth-child(4){
    position: absolute;
    top: 1.47rem;
    left: 4.05rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
    width: 0.84rem;
    /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-l-footer{
    margin-top: 0.54rem;
    margin-left: 1.29rem;
    color: #989898;
    font-size: 0.3rem;
  }
  .context-employee-desc-l-footer-t{
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .context-employee-desc-l-footer-t>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #ff3a49;
  }
  .context-employee-desc-l-footer-t>div:nth-child(2){
    display: inline-block;
    min-width: 1.5rem;
  }
  .context-employee-desc-l-footer-t>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  }
  .context-employee-desc-l-footer-t>div:nth-child(4){
    display: inline-block;
  }
  .context-employee-desc-l-footer-c{
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.15rem;
  }
  .context-employee-desc-l-footer-c>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #f46e7e;
  }
  .context-employee-desc-l-footer-c>div:nth-child(2){
    display: inline-block;
    min-width: 1.5rem;
  }
  .context-employee-desc-l-footer-c>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  }
  .context-employee-desc-l-footer-c>div:nth-child(4){
    display: inline-block;
  }
  .context-employee-desc-l-footer-b{
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.15rem;
  }
  .context-employee-desc-l-footer-b>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #f4bac3;
  }
  .context-employee-desc-l-footer-b>div:nth-child(2){
    display: inline-block;
    min-width: 1.5rem;
  }
  .context-employee-desc-l-footer-b>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  }
  .context-employee-desc-l-footer-b>div:nth-child(4){
    display: inline-block;
  }
  /* 镜像右边 right*/
  .context-employee-desc-r{
    padding-left: 0.75rem;
  }
  .context-employee-desc-r>div:nth-child(1){
    position: relative;
    height: 0.32rem;
    font-size: 0.32rem;
    line-height: 0.32rem;
  }
  .context-employee-desc-r>div:nth-child(1)>div{
    right: 1.44rem;
    /* position: absolute; */
  }
  .context-employee-desc-r>div:nth-child(2){
    height: 0.87rem;
    width: 100%;
    position: relative;
    margin-top: 0.57rem;
  }
  .context-employee-desc-r>div:nth-child(2)>div{
    bottom:0rem;
    /* right: 2.7rem; */
    left: 0.75rem;
    width: 1.68rem;
    height: 0.87rem;
    position: absolute;
  }
  .context-employee-desc-r>div:nth-child(2)>div>img{
    width: 100%;
  }
  .context-employee-desc-r-bar{
    position: relative;
    margin-top: 0.6rem;
    width: 100%;
    height: 1.8rem;
  }
  .context-employee-desc-r-bar>div:nth-child(1){
    position: absolute;
    top: 0px;
  /*   right: 1.56rem; */
    width: 3.75rem;
    height: 1.8rem;
  }
  .context-employee-desc-r-bar img{
    width: 100%;
  }
  .context-employee-desc-r-bar>div:nth-child(2){
    position: absolute;
    top: 0.09rem;
   /*  right: 0.72rem; */
    left: 3.89rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
    width: 0.84rem;
  /*   word-spacing: -2px; */
    /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-r-bar>div:nth-child(3){
    position: absolute;
    top: 0.78rem;
    /* right: 3rem; */
    left: 1.74rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
     width: 0.84rem;
     /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-r-bar>div:nth-child(4){
    position: absolute;
    top: 1.47rem;
    /* right: 4.05rem; */
    left: 0.43rem;
    font-size: 0.28rem;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #656565;
    font-weight: 100;
    width: 0.84rem;
    /* letter-spacing: -1.5px; */
  }
  .context-employee-desc-r-footer{
    margin-top: 0.54rem;
    /* margin-right: 1.29rem; */
    color: #989898;
    font-size: 0.3rem;
  }
  .context-employee-desc-r-footer-t{
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .context-employee-desc-r-footer-t>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #ff3a49;
  }
  .context-employee-desc-r-footer-t>div:nth-child(2){
    display: inline-block;
    min-width: 2.5rem;
  }
  .context-employee-desc-r-footer-t>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  } 
  .context-employee-desc-r-footer-t>div:nth-child(4){
    display: inline-block;
  }
  .context-employee-desc-r-footer-c{
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.15rem;
  }
  .context-employee-desc-r-footer-c>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #f46e7e;
  }
  .context-employee-desc-r-footer-c>div:nth-child(2){
    display: inline-block;
    min-width: 2.5rem;
  }
  .context-employee-desc-r-footer-c>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  }
  .context-employee-desc-r-footer-c>div:nth-child(4){
    display: inline-block;
  }
  .context-employee-desc-r-footer-b{
    height: 0.3rem;
    line-height: 0.3rem;
    margin-top: 0.15rem;
  }
  .context-employee-desc-r-footer-b>div:nth-child(1){
    display: inline-block;
    width: 0.24rem;
    height: 0.18rem;
    background: #f4bac3;
  }
  .context-employee-desc-r-footer-b>div:nth-child(2){
    display: inline-block;
    min-width: 2.5rem;
  }
  .context-employee-desc-r-footer-b>div:nth-child(3){
    display: inline-block;
    min-width: 0.68rem;
  }
  .context-employee-desc-r-footer-b>div:nth-child(4){
    display: inline-block;
  }
  @media screen and  (min-width:360px) and (max-width:375px){
    
    /*.td_360{
      vertical-align: top;
    }
    .context-employee-desc-l>div:nth-child(1) {
        margin-left: 1rem;
        height: 0.32rem;
        font-size: 0.32rem;
        line-height: 0.32rem;
    }*/
    
   }
   @media screen and  (min-width:320px) and (max-width:359px){
    
    /*.td_320{*/
      /*vertical-align: top;*/
    /*}*/
    
    
   }
 
