html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
  background-color: #f0f0f0;
}
header{
  width: 100%;
  height: 1.46rem;
  margin: 0 auto;
  display: flex;
  border-bottom: solid 1px #c7b299;
}
.head-content{
  width: 11.34rem;
  height: 1.46rem;
  margin: 0 auto;
  display: flex;
}
.head-content-item{
  flex: 1;
  text-align: center;
  height: 1.40rem;
  line-height: 1.40rem;
  color: #656565;
  font-size: 0.42rem;
}
.head-content-item_choose{
  border-bottom: solid 2px #c7b299;
  color: #c7b299;
}
.content{
  overflow: hidden;
}
article{
  overflow: hidden;
  margin-top: 0.57rem
}
.item{
  height: 2.31rem;
  width: 100%;
  display: flex;
  background: #fff;
  margin-bottom: 0.18rem;
}
.item-l{
  flex: 1;
}
.item-l-t{
  margin: 0.6rem 0 0 1.11rem;
  font-size: 0.48rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #998675;
}

.item-l-b{
  margin: 0.39rem 0 0 1.11rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #989898;
}
.item-r{
  flex: 1;
  padding-right: 1.11rem;
  text-align: right;
}

.item-r-t{
  margin: 0.6rem 0 0 1.11rem;
  font-size: 0.48rem;
  height: 0.48rem;
  line-height: 0.48rem;
  color: #ff3a49;
}
.item-r-t_remove{
  color: #3b92f0;
}
.item-r-b{
  margin: 0.39rem 0 0 1.11rem;
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  color: #989898;
}
.wrapper{
  height: 14.91rem;
  overflow: hidden;
}
.contents{
height: 14.91rem;
overflow: hidden;
}
.contentss{
  height: 14.91rem;
  overflow: hidden;
  }
