html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
  background-color: #f0f0f0;
}
.content{
  overflow: hidden;
}
.context-basic{
  margin-top: 0.75rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
  
}
.context-basic-desc{
  margin-top: 0.66rem;
  margin-left: 0.84rem;
}
.context-basic-desc>img{
  width: 100%;
}
.w588h825{
  width: 5.88rem;
  height: 8.25rem;
  margin-left: auto;
  margin-right:auto; 
}
.w851h587{
  width: 8.51rem;
  height: 5.87rem;
  margin-left: auto;
  margin-right:auto; 
}
.w767h531{
  width: 7.67rem;
  height: 5.31rem;
  margin-left: auto;
  margin-right:auto; 
}
.w843h576{
  width: 8.43rem;
  height: 5.76rem;
  margin-left: auto;
  margin-right:auto; 
  margin-bottom: 3rem;
}
.context-message {
  margin-top: 0.84rem;
  margin-left: 0.55rem;
  position: relative;
  height: 0.72rem;
}
.context-title {
  display: inline-block;
  width: 2.48rem;
  height: 0.72rem;
  color: #f2f2f2;
  border-radius: 10px;
  background-color: #c7b299;
  text-align: center;
  font-size: 0.42rem;
  position: absolute;
}
.context-title p {
  margin-top: 0.1rem;
}
.context-line {
  position: absolute;
  display: inline-block;
  height: 1px;
  border-bottom: solid 1px #c7b299;
  width: 8.76rem;
  top: 0.36rem;
  left: 2.58rem;
}
.context-table {
  width: 10.74rem;
  background-color: #ffffff;
  color: #989898;
  font-size: 0.32rem;
  text-align: left;
  border-collapse: collapse;
  letter-spacing: -1px;
}
tr {
  height: 0.57rem;
}
td{
  border-bottom: solid 1px #f2f2f2;
  padding: 0px;
}
tr>td:nth-child(1)>div{
  margin-left: 0.36rem;
}

.mt120{
  margin-top: 1.2rem;
}
.mybanner-bullet{
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #b3b3b3;
  margin: 0 4px;
  /* opacity: .2; */
}
.mybanner-bullet-active{
 /*  opacity: 1; */
  background: #998675;
}
.show-detail>img{
  width: 100%;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: -5px;
  left: 0;
  width: 100%;
}