tr {
	/*height: 0.57rem;*/
	/*  vertical-align: baseline; */
}
td{
	background-color: #ffffff;
	border-bottom: solid 1px #f2f2f2;
	vertical-align: text-bottom;
}
td>div{
	/* color: red;*/
	vertical-align:text-top;
	display:inline-block;
	line-height: 0.57rem;

}
.td>div:after{
	content:'';
	width:0;
	height:100%;
	display:inline-block;
	vertical-align:text-top;
}