html,body{
  padding: 0px;
  margin: 0px;
  width: 100%;
 /*  height: 100%; */
 background-color: #f0f0f0;
}
#top .card{
  margin-top: 0.48rem;
  width: 100%;
  height: 6.66rem;
  background: url(../image/cp_5.png) no-repeat;
  background-size: contain;
  position: relative;
  overflow: hidden;
}
#top .card>div:nth-child(1){
 
  position: absolute;
  background: url(../image/cp_cheaa.png) no-repeat;
  background-size: contain;
  left:0.9rem;
  top:0.6rem;
  width: 1.26rem;
  height: 0.51rem;
}
#top .card>div:nth-child(2){
  color:#656565;
  position: absolute;
  font-size: 0.42rem;
  left:2.58rem;
  top:0.66rem;
  width: 4.5rem;
  height: 0.42rem;
  font-weight: bold;
  line-height: 100%;
}
#top .card>div:nth-child(3){
  position: absolute;
  height: 0.36rem;
  right: 1.8rem;
  font-size: 0.36rem;
  color: #998675;
  font-weight: bold;
  top: 0.72rem;
  line-height: 100%
}

#top .card>div:nth-child(4){
    margin-top: 1.47rem ;
    font-size: 0.36rem;
  text-align: center;
  color: #989898;
  height: 0.36rem;
  line-height: 100%;
}
#top .card>div:nth-child(5){
  font-weight: 100;
  margin-top: 0.24rem ;
  font-size: 0.78rem;
  text-align: center;
  color: #998675;
  font-size: 0.78rem;
    line-height: 100%;
    height: 0.78rem;
}
#top .card>div:nth-child(6){
  margin-top: 0.36rem ;
  font-size: 0.42rem;
 text-align: center;
 color: #998675;
}

#top .card-bottom{
  font-size: 0rem;
  margin-top: 0.81rem;
}
#top  .card-bottom-l{
  color: #998675;
 display: inline-block;
 margin-left: 1.26rem;
 width: 3.06rem;
  font-size: 0.36rem;
  text-align: left;
  border-right:solid 1px #f2f2f2; 
}
#top  .card-bottom-c{
  display: inline-block;
  color: #998675;
  margin-left: 0.72rem;
 min-width: 3.06rem;
  font-size: 0.36rem;
  text-align: left;
  border-right:solid 1px #f2f2f2; 
}

#top .card-bottom-r{
  display: inline-block;
  margin-left: 0.54rem;
  color: #998675;
  font-size: 0.36rem;
  text-align: left;
}
.card-bottom-bottom{
  font-size: 0.48rem;
  height: 0.48rem;
    line-height: 100%;
  color: #998675;
  margin-top:0.12rem; 
}
.card-bottom-top{
  margin-top: 0.24rem;
  color: #989898;
  font-size: 0.36rem;
  height: 0.36rem;
    line-height: 100%;
}
/*  #top  .card-bottom-r div div:nth-child(1){
  margin-left:0.56rem; 
  font-size: 0.36rem;
  height: 0.36rem;

  color: #989898;
}
#top  .card-bottom-r div div:nth-child(2){
  margin-left:0.56rem; 
  margin-top: 0.18rem;
  font-size: 0.58rem;
  color:#998675;
} */
#top .table{
  width: 7.26rem;
  height: 0.66rem;
  margin: 0.51rem auto;
  background: url(../image/cp_6.png) no-repeat;
  background-size: contain;
}
#top  .table-desc{
  width: 100%;
  height: 0.9rem;
  margin-top: 0.3rem;
  position: relative;
  overflow: hidden;
}
#top .table-desc>div:nth-child(1){
  
 position: absolute;
 left: 2.16rem;
 font-size: 0.36rem;
 width: 1.53rem;
}
#top .table-desc>div:nth-child(2){
  position: absolute;
 left: 5.43rem;
 font-size: 0.36rem;
 width: 1.53rem;
}
#top .table-desc>div:nth-child(3){
  position: absolute;
 right:2.16rem ;
 font-size: 0.36rem;
 width: 1.53rem;
 
}

#top .context{
  width: 100%;
  margin-top: 0.99rem;
  font-size: 0.36rem;
  color: #989898;
}
#top .context ul{
  padding: 0px;
  margin: 0px;
}
#top .context ul li{
  list-style: none;
  position: relative;
  width: 100%;
  height: 0.36rem;
  margin-bottom: 0.18rem;
  font-size: 0.36rem;
    line-height: 100%;
}
#top .context ul li p:nth-child(1){
  left: 1.08rem;
  position: absolute;
  margin: 0px;
}
#top .context ul li p:nth-child(2){
  right: 1.08rem;
  position: absolute;
  margin: 0px;
}
.top-footer{
  margin-top: 6.15rem;
  overflow: hidden;
}
#top .foot-touch{
  font-size: 0.36rem;
  height: 0.36rem;
  line-height: 0.36rem;
  /* margin-top: 0.87rem; */
  text-align: center;
  color: #989898;
}
#top .foot-title{
  font-size: 0.36rem;
  color: #656565;
  text-align: center;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
}
#top .foot-content{
  height: 2.1rem;
  overflow: hidden;
  margin: 0.6rem auto 0 auto;
  width: 11.34rem;
  -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
#top .foot-content-btn{
  margin-top: 0.3rem;
  font-weight: 100;
  height: 1.5rem;
  width: 100%;
  color: #656565;
  background-color: #c3c3c3;
  font-size: 0.5rem;
  text-align: center;
  border: none;
  outline: none;
  border-radius: 5px;
  -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}


a:link { 
  color:#3b92f0;
  text-decoration:none;
  }
  input::-webkit-input-placeholder{
      color:#c3c3c3;
      font-size: 0.54rem;
  }
  input::-moz-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-moz-placeholder{    
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  input:-ms-input-placeholder{  
    color:#c3c3c3;
    font-size: 0.54rem;
  }
  .font1{
  color:#656565;
  font-weight: bold;
}
.font2{
  color:#989898;
}
.font3{
  color: #ff3a49;
}
.font4{
  font-size: 0.45rem;
}

#bottom header{
width: 100%;
height: 1.46rem;
margin: 0 auto;
display: flex;
border-bottom: solid 1px #c7b299;
}
#bottom .head-content{
width: 11.34rem;
height: 1.46rem;
margin: 0 auto;
display: flex;
}
#bottom .head-content-item{
flex: 1;
text-align: center;
height: 1.40rem;
line-height: 1.40rem;
color: #656565;
font-size: 0.42rem;
}

#bottom .head-content-item_choose{
border-bottom: solid 2px #c7b299;
color: #c7b299;
}
#choose1 .context{
font-size: 0.36rem;
color: #989898;
}

#choose1 .context-message{
margin-top: 0.78rem;
margin-left: 0.54rem;
position: relative;
  height: 0.72rem;
}
#choose1 .context-message-desc{
  
position: relative;


}
#choose1 .context-message-desc div{
margin-top: 0.66rem;
margin-left: 1.08rem;
font-size: 0.36rem;
color: #656565;
font-weight: bold;
width: 3.87rem;

}
#choose1  ul{
margin-top: 0.21rem;
font-size: 0.36rem;
padding: 0px;
color: #989898;

}
#choose1  ul li{
margin-top: 0.18rem;
position: relative;
height: 0.36rem;
list-style:none
}
.foot-touch-bottom{
  font-size: 0.36rem;
  margin-top: 1.36rem;
  text-align: center;
  color: #989898;
}
#choose1  ul li p:nth-child(1){
position: absolute;
left: 1.08rem;
height: 0.36rem;
top: 0px;
line-height: 0px;
}
#choose1  ul li p:nth-child(2){
position: absolute;
right: 1.08rem;
height: 0.36rem;
top: 0px;
line-height: 0px;
}
#choose1 .context-record{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
 position: relative;
  height: 0.72rem;

}
#choose1 .context-record-desc{
 

}
#choose1 .context-borrow{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
 position: relative;
  height: 0.72rem;

}
#choose1 .context-borrow-desc div {
  margin-top: 0.66rem;
  margin-left: 1.08rem;
  font-size: 0.36rem;
  color: #656565;
  margin-right: 1.08rem;
}
#choose1 .context-borrow-desc div span{
  color: #656565;
  font-weight: bold;
}
#choose1 .context-borrow-desc div p{
  color: #989898;
  /* line-height: 0.12rem; */
}
#choose1 .context-audit{
  margin-top: 0.81rem;
 margin-left: 0.54rem;
 position: relative;
  height: 0.72rem;
}
#choose1 .context-audit-desc{

}

#choose1 .context-title{
display: inline-block;;
width: 2.48rem;
height: 0.72rem;
color: #f2f2f2;

border-radius: 10px;
background-color: #c7b299;
text-align: center;

}
#choose1 .context-line{
display: inline-block;
height: 1px;
border-bottom: solid 1px #c7b299;
width: 8.76rem;
position: absolute;
top: 0.36rem;
left: 2.58rem;
}
#choose1 .context-title p{
margin-top: 0.1rem;

}
#choose2 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
}
#choose2 td{
padding: 0px;
}
#choose2 .context-table{
width: 11.34rem;
margin: 0 auto;
background-color: #ffffff;
color: #989898;
font-size: 0.42rem;
text-align: center;
border-collapse: collapse;

}
#choose2 th{
color: #998675; 
font-weight: normal;
}
#choose2 tr{
height: 1.35rem;
border-bottom: solid 2px #f2f2f2;
}
#choose2 tr>td:nth-child(1){
width: 3.12rem;
}
#choose2 tr>td:nth-child(2){
width: 4.02rem;
}
#choose2 tr>td:nth-child(3){
width: 4.20rem;
}
.head-content-item_choose{
border-bottom: solid 2px #c7b299;

}
#choose3 .context-title{
font-size: 0.36rem;
color: #989898;
text-align: center;
margin-top: 0.54rem;
margin-bottom: 0.6rem;
}
#choose3 .card{
margin-top: 0.18rem;
width: 12.42rem;
height: 4.23rem;
background: url(../image/cp_12.png) no-repeat;
background-size: contain;
position: relative;
overflow: hidden; 
}
#choose3 .card:nth-child(1){
margin-top: 0.48rem;
width: 12.42rem;
height: 4.23rem;
background: url(../image/cp_12.png) no-repeat;
background-size: contain;
position: relative;
overflow: hidden; 
}
#choose3 .card div:nth-child(1){
position: absolute;
font-size: 0.48rem;
color: #998675;
top: 0.66rem;

left: 1.17rem;
height: 0.48rem;
}
#choose3 .card div:nth-child(2){
position: absolute;
font-weight: bold;
font-size: 0.48rem;
color: #998675;
top: 0.66rem;
right: 1.17rem;
height: 0.48rem;
}
#choose3 .card div:nth-child(3){
position: absolute;
font-size: 0.36rem;
color: #656565;
top: 1.8rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(4){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 1.8rem;
right: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(5){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 2.4rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(6){
position: absolute;
color: #656565;
font-size: 0.36rem;
top: 2.4rem;
right: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(7){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 3rem;
left: 1.17rem;
height: 0.36rem;
}
#choose3 .card div:nth-child(8){
color: #656565;
position: absolute;
font-size: 0.36rem;
top: 3rem;
right: 1.17rem;
height: 0.36rem;
}

#choose3 .grayblock{
width: 5.13rem;
height: 5.13rem;
margin: 2.22rem auto 0 auto;
background-color: #c3c3c3
}  
#choose3 .grayblock-desc{
margin: 0.42rem auto;
width: 2.61rem;
font-size: 0.42rem;
color: #c3c3c3;
}
.bottom-footer-3{
  position: absolute;
    left: 0.59rem;
    right: auto;
    bottom: 0.15rem;
}
#bottom .foot-title{
font-size: 0.36rem;
color: #656565;
text-align: center;
margin-top: 0.9rem;
width: 10.1rem;;
margin-left: auto;
margin-right: auto;
margin-bottom: 0.18rem;
}
#bottom .foot-title p:nth-child(2){

margin-top: 0.24rem;

}
.footer{
  /* width: 100%;
  position: fixed;
  bottom: 0rem;
  left: 0rem;
  height: 2.1rem;
  background-color: #f2f2f2; */
}
#bottom .foot-content{
  margin: 0 auto;
height: 2.1rem;
overflow: hidden;
width: 11.34rem;
-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
#bottom .foot-content-btn{
height: 1.5rem;
width: 100%;
color: #656565;
background-color: #c3c3c3;
font-size: 0.5rem;
text-align: center;
border: none;
outline: none;
margin-top: 0.3rem;
border-radius: 5px;
-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);

}
.foot-content-btn:active{
  opacity: 0.7;
}
btn:hover{
border: none;
outline: none;
}

a:link { 
color:#3b92f0;
text-decoration:none;
}
.wrapper{
  width: 100%;
  position:absolute;
  top: 0px;
  bottom: 0px;
  overflow: hidden;
  z-index: 1;
}
.content{
  height:100%;
}
.wrappers{
  
  overflow: hidden;
  height:14.85rem;
}
.contents{
  height: 14.85rem;
  overflow: hidden;
}